-r ddhldap/requirements.txt
-r wagtailbase/requirements.txt
Fabric
Pillow
Unidecode
beautifulsoup4
bleach
django==1.10
django-appconf
django-author==1.0.1
django-extensions
django-grappelli==2.10.1
django-model-utils
django-mptt
django-mptt-admin
git+git://github.com/kingsdigitallab/django-haystack.git
lxml
psycopg2
pysolr
regex
sqlparse
unicodecsv
pdfkit
