-r ddhldap/requirements.txt
-r wagtailbase/requirements.txt
Fabric
Pillow
Unidecode
beautifulsoup4
bleach
ddh-django-utils
django-appconf
django-author==0.4.0
django-extensions
django-grappelli
django-model-utils
django-mptt
django-mptt-admin
django-redis==3.6.1
git+git://github.com/kingsdigitallab/django-haystack.git
lxml
psycopg2
pysolr
regex
sqlparse
