-r ddhldap/requirements.txt
-r wagtailbase/requirements.txt
Fabric
Pillow
Unidecode
beautifulsoup4
bleach
django-appconf
django-author
django-extensions
django-grappelli
django-model-utils
django-mptt
django-mptt-admin
django-redis
git+git://github.com/kingsdigitallab/django-haystack.git
lxml
psycopg2
pysolr
regex
sqlparse
unicodecsv
pdfkit
