{% extends "wagtailbase/base.html" %}
{% load wagtailbase_tags %}

{% block meta_title %}Home{% endblock %}

{% block main %}

    <!-- TODO: Uncomment this row to show Beta warning -->
    <!--
    <div class="row">
        <div class="large-12 columns">
            <div data-alert class="alert-box secondary radius">
                <i class="fa fa-warning"></i> <strong>Site released in beta.</strong> Enjoy data on the Roman Republic responsibly and bear with us while we complete the work.
                <a href="#" class="close">&times;</a>
            </div>
        </div>
    </div>
    -->
    <div class="row">
        <div class="large-12 columns">
            <img src="/static/images/slide-1-Detail_from_the_Fasti_Antiates_Palazzo_Massimo_alle_Terme_Rome.jpg"
                 alt="Detail from the Fasti Antiates, Palazzo Massimo alle Terme, Rome"/>
            <div class="caption">
                Detail from the Fasti Antiates, Palazzo Massimo alle Terme, Rome. Photo by Juliana Bastos Marques (CC
                BY-SA 3.0).
            </div>
        </div>
    </div>

    <div class="row" data-equalizer>

        <div class="large-12 columns">
            <div class="panel radius" data-equalizer-watch>
                <h2>{{ self.title }}</h2>
                <p>{{ self.content|safe }}</p>
            </div>
        </div>
        <!-- <div class="large-4 columns">
        <div class="panel radius" data-equalizer-watch>
            <h3><i class="fa fa-pencil"></i> Blog</h3>
            {# block latest_blog_post #}
                {# latest_n_blog_posts 2 #}
            {# endblock #}
        </div>
        <a href="/blog/" class="button radius expand">All entries</a>
    </div> -->
    </div>
    <!-- <div class="row">
        <div class="large-12 columns">
            <h3><i class="fa fa-comments"></i> Feedback</h3>
            <p>We value our users' feedback and we'd like to hear from you. It would help us improve the site. So, don't be shy and <a href="/contact/">drop us a line</a>.</p>
        </div>
    </div> -->

{% endblock %}

