{% extends "base.html" %}
{% load ddh_utils_tags wagtailbase_tags wagtailcore_tags %}

{% block meta_title %}Person Details{% endblock %}

{% block main %}

<div class="row">
    <div class="large-12 columns">

        <h1>{{ person }}</h1>

        {% if person.review_flag %}
            <p><b>Warning: person needs revision</b></p>
        {% endif %}

        <p>
            ID: {{ person.id }} <br />

            {% if person.patrician %}
                Patrician: {% if person.patrician_uncertainty %}?{% endif %}{{ person.patrician }} <br />
            {% endif %}
            {% if person.gens %}
                Gens: {% if person.gens_uncertainty %}?{% endif %}{{ person.gens }} <br />
            {% endif %}
        </p>

        <h2>Offices</h2>

        <ul>
            {% for pa in person.post_assertions.all %}
                <li>{{ pa.print_date |safe}} {{ pa.office | title}} {% if pa.provinces %} {{pa.print_provinces}} {% endif %}</li>

                {% if pa.notes.count %}
                <ul>
                    {% for note in pa.notes.all %}
                        <li>{{note.text}} (in <i>{{note.secondary_source.abbrev_name}}</i>)</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endfor %}
        </ul>

    </div>
</div>

{% endblock %}