{% extends "base.html" %}
{% load wagtailbase_tags %}

{% block meta_title %}Person Details{% endblock %}

{% block main %}

<div class="row">
    <div class="large-12 columns">
        <h2>{{ person.dprr_id }} {{ person }}</h2>

        {% if person.review_flag %}
        <p><strong>Warning: person under revision</strong></p>
        {% endif %}

        {% for note in person.get_reference_notes %}
        <p class="note">
        {{ note }}
        </p>
        {% endfor %}

        {% if person.has_status_information %}
        <h3>Status</h3>
        <ul class="timeline no-bullet">
            {% include "promrep/persons/status.html" with title="Patrician" status=person.patrician uncertain=person.patrician_uncertain notes=person.patrician_notes %}
            {% include "promrep/persons/status.html" with title="Nobilis" status=person.nobilis uncertain=person.nobilis_uncertain notes=person.nobilis_notes %}
            {% include "promrep/persons/status.html" with title="Novus" status=person.novus uncertain=person.novus_uncertain notes=person.novus_notes %}

            {% with eques=person.get_eques_status_assertion %}
            {% include "promrep/persons/status.html" with title="Eques R" status=eques uncertain=eques.uncertain notes=eques.notes %}
            {% endwith %}
        </ul>
        {% endif %}

        {% include "promrep/persons/life_dates.html" %}

        {% include "promrep/persons/relationships.html" %}

        {% include "promrep/persons/career.html" %}
    </div>
</div>
{% endblock %}
