{% extends "base.html" %}
{% load ddh_utils_tags wagtailbase_tags wagtailcore_tags %}

{% block meta_title %}Person Details{% endblock %}

{% block main %}

<div class="row">
    <div class="large-12 columns">

        <h1>{{ person }}</h1>

        <h2 class="svg-title">Relationships recorded in the sources</h2>

        <div class="svg-container">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 815 485">
                <g transform="translate(40,0)">
                    <g>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M120,224.664
                            L120,224.664"/>
                        
                            <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0.995,4.9748" d="
                            M125.31,224.441c100.252-6.197,103.002-182.519,204.875-185.894"/>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M333,38.664L333,38.664
                            "/>
                    </g>
                    <g>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M120,224.664
                            L120,224.664"/>
                        
                            <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1.0072,5.0359" d="
                            M125.369,224.498c100.182-4.019,102.964-117.105,204.773-119.302"/>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M333,105.664
                            L333,105.664"/>
                    </g>
                    <path fill="none" stroke="#DF6800" stroke-width="2" d="M119.833,224.608c106.667,0,106.667-52.778,213.333-52.778"/>
                    <path fill="none" stroke="#DF6800" stroke-width="2" d="M119.833,224.608c106.667,0,106.667,13.889,213.333,13.889"/>
                    <path fill="none" stroke="#DF6800" stroke-width="2" d="M119.833,224.608c106.667,0,106.667,113.89,213.333,113.89"/>
                    <g>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M120,224.664
                            L120,224.664"/>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1.0073,5.0363" d="
                            M125.363,224.82c100.189,7.75,102.968,226.051,204.786,230.281"/>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.668,455.162
                            c0.166,0.001,0.332,0.002,0.499,0.002"/>
                    </g>
                    <g>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,39.5h1"/>
                        <path fill="#330099" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1,5" d="
                            M338.5,39.5h205"/>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M546,38.664
                            C546.166,38.664,546,38.664,546,38.664"/>
                    </g>
                    <g>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,106.5h1"/>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1,5" d="
                                M338.5,106.5h205"/>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M546,105.664
                                C546.166,105.664,546,105.664,546,105.664"/>
                    </g>
                    <path fill="#DF6800" stroke="#DF6800" stroke-width="2" d="M332.5,172.5h213"/>
                    <path fill="none" stroke="#DF6800" stroke-width="2" d="M332.5,239.5h213"/>
                    <g>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,339.5h1"/>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1.0045,5.0225" d="
                                M338.69,338.469c100.196-1.119,102.972-32.686,204.798-33.296"/>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M546,305.664
                                C546.166,305.664,546,305.664,546,305.664"/>
                    </g>
                    <g>
                        <path fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,339.5h3"/>
                        <g>
                            <line fill="#157F00" x1="342.5" y1="338.5" x2="540.5" y2="338.5"/>
                            <g>
                                <line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="342.5" y1="338.5" x2="345.5" y2="338.5"/>
                                <line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="6,10" x1="355.5" y1="338.5" x2="532.5" y2="338.5"/>
                                <line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="537.5" y1="338.5" x2="540.5" y2="338.5"/>
                            </g>
                        </g>
                        <path fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M542.5,339.5h3"/>
                    </g>
                    <path fill="none" stroke="#DF6800" stroke-width="2" d="M333.167,338.498c106.666,0,106.666,33.332,213.333,33.332"/>
                    <g>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,456.5h1"/>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0.9919,4.9593" d="
                                M338.627,455.149c100.271-0.555,103.014-16.347,204.895-16.648"/>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M546,438.664 C546.166,438.664,546,438.664,546,438.664"/>
                    </g>
                    <g>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,456.5h1"/>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0.9919,4.9593" d="
                                M338.627,455.179c100.271,0.555,103.014,16.347,204.895,16.648"/>
                        <path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M546,471.664 C546.166,471.664,546,471.664,546,471.664"/>
                    </g>
                    <g id="{{ person.id }}" transform="translate(213.33333333333337,219.44444444444443)">
                        <circle fill="#EEEEEE" stroke="#999999" stroke-width="2" cx="-93.833" cy="5.22" r="9"/>
                        <text transform="matrix(1 0 0 1 -191.5159 9.1639)" enable-background="new"><tspan x="0" y="0" font-family="'Open Sans Condensed Bold'" font-size="15">C. Iulius (131)</tspan><tspan x="-8" y="18" font-family="'Open Sans Condensed Bold'" font-size="15">C. f. C. n. Caesar</tspan></text>
                    </g>
                    <g transform="translate(426.66666666666674,33.333333333333336)">
                        <circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.164" r="4.5"/>
                        <text transform="matrix(1 0 0 1 -168.5031 -3.8362)" font-family="'Open Sans Condensed Light Italic'" font-size="14">adoptive father of</text>
                    </g>
                    <g transform="translate(640,33.333333333333336)">
                        <a xlink:href="#" class="svg-link">
                        <circle fill="#9980CC" stroke="#330099" cx="-93.5" cy="5.164" r="4.5"/>
                        <text transform="matrix(1 0 0 1 -85.5 8.1638)" enable-background="new"><tspan x="0" y="0" font-family="'Open Sans Condensed Light'" font-size="16">C. Iulius (132) C. f. C. n. Caesar Octavianus</tspan><tspan x="0" y="19.2" font-family="'Open Sans Condensed Light'" font-size="16">= C. Octavius C. f. Thurinus (or Caepias)</tspan></text>
                        </a>
                    </g>
                    <g transform="translate(426.66666666666674,100)">
                        <circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.164" r="4.5"/>
                        <text transform="matrix(1 0 0 1 -142.2116 -3.8359)" font-family="'Open Sans Condensed Light Italic'" font-size="14">betrothed to</text>
                    </g>
                    <g transform="translate(640,100)">
                        <a xlink:href="#" class="svg-link">
                            <circle fill="#9980CC" stroke="#330099" cx="-93.5" cy="5.164" r="4.5"/>
                            <text transform="matrix(1 0 0 1 -85.5 8.1641)" font-family="'Open Sans Condensed Light'" font-size="16">-. Cossutia (7)</text>
                        </a>
                    </g>
                    <g transform="translate(426.66666666666674,166.66666666666666)">
                        <circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.164" r="4.5"/>
                        <text transform="matrix(1 0 0 1 -150.1335 -3.8356)" font-family="'Open Sans Condensed Light Italic'" font-size="14">divorced from</text>
                    </g>
                    <g transform="translate(640,166.66666666666666)">
                        <a xlink:href="#" class="svg-link">
                            <circle fill="#EFB380" stroke="#DF6800" cx="-93.5" cy="5.164" r="4.5"/>
                            <text transform="matrix(1 0 0 1 -85.5 8.1644)" font-family="'Open Sans Condensed Light'" font-size="16">-. Pompeia (52)</text>
                        </a>
                    </g>
                    <g transform="translate(426.66666666666674,233.33333333333334)">
                        <circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.164" r="4.5"/>
                        <text transform="matrix(1 0 0 1 -123.8581 -3.8362)" font-family="'Open Sans Condensed Light Italic'" font-size="14">father of</text>
                    </g>
                    <g transform="translate(640,233.33333333333334)">
                        <a xlink:href="#" class="svg-link">
                            <circle fill="#EFB380" stroke="#DF6800" cx="-93.5" cy="5.164" r="4.5"/>
                            <text transform="matrix(1 0 0 1 -85.5 8.1638)" font-family="'Open Sans Condensed Light'" font-size="16">-. Iulia (547)</text>
                        </a>
                    </g>
                    <g transform="translate(426.66666666666674,333.3333333333333)">
                        <circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.165" r="4.5"/>
                        <text transform="matrix(1 0 0 1 -133.0163 -3.8363)" font-family="'Open Sans Condensed Light Italic'" font-size="14">married to</text>
                    </g>
                    <g transform="translate(640,300)">
                        <a xlink:href="#" class="svg-link">
                            <circle fill="#9980CC" stroke="#330099" cx="-93.5" cy="5.164" r="4.5"/>
                            <text transform="matrix(1 0 0 1 -85.5 8.1641)" font-family="'Open Sans Condensed Light'" font-size="16">-. Calpurnia (126)</text>
                        </a>
                    </g>
                    <g transform="translate(640,333.3333333333333)">
                        <a xlink:href="#" class="svg-link">
                            <circle fill="#8ABF80" stroke="#157F00" cx="-93.5" cy="5.165" r="4.5"/>
                            <text transform="matrix(1 0 0 1 -85.5 8.1637)" font-family="'Open Sans Condensed Light'" font-size="16">-. Cornelia (126)</text>
                        </a>
                    </g>
                    <g transform="translate(640,366.66666666666663)">
                        <a xlink:href="#" class="svg-link">
                            <circle fill="#EFB380" stroke="#DF6800" cx="-93.5" cy="5.163" r="4.5"/>
                            <text transform="matrix(1 0 0 1 -85.5 8.1644)" font-family="'Open Sans Condensed Light'" font-size="16">-. Pompeia (143)</text>
                        </a>
                    </g>
                    <g transform="translate(426.66666666666674,450)">
                        <circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.164" r="4.5"/>
                        <text transform="matrix(1 0 0 1 -113.4655 -3.8359)" font-family="'Open Sans Condensed Light Italic'" font-size="14">son of</text>
                    </g>
                    <g transform="translate(640,433.33333333333337)">
                        <a xlink:href="#" class="svg-link">
                            <circle fill="#9980CC" stroke="#330099" cx="-93.5" cy="5.164" r="4.5"/>
                            <text transform="matrix(1 0 0 1 -85.5 8.1637)" font-family="'Open Sans Condensed Light'" font-size="16">-. Aurelia (248)</text>
                        </a>
                    </g>
                    <g transform="translate(640,466.6666666666667)">
                        <a xlink:href="#" class="svg-link">
                            <circle fill="#9980CC" stroke="#330099" cx="-93.5" cy="5.164" r="4.5"/>
                            <text transform="matrix(1 0 0 1 -85.5 8.1644)" font-family="'Open Sans Condensed Light'" font-size="16">C. Iulius (130) C. f. Caesar</text>
                        </a>
                    </g>
                </g>
                <g>
                    <line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="-0.5" y1="64.5" x2="3.5" y2="64.5"/>
                    <line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="6,10" x1="13.5" y1="64.5" x2="41.5" y2="64.5"/>
                    <line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="46.5" y1="64.5" x2="49.5" y2="64.5"/>
                </g>
                <path fill="none" stroke="#DF6800" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M-0.5,25.5h50"/>
                <g>
                    <line fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="-0.5" y1="44.5" x2="0.5" y2="44.5"/>
                    <line fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1,5" x1="5.5" y1="44.5" x2="46.5" y2="44.5"/>
                    <line fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="49.5" y1="44.5" x2="49.5" y2="44.5"/>
                </g>
                <text transform="matrix(1 0 0 1 67.4175 28.6235)" font-family="'Open Sans Condensed Light Italic'" font-size="12">Relation recorded in the source for both records</text>
                <text transform="matrix(1 0 0 1 67.4175 48.353)" font-family="'Open Sans Condensed Light Italic'" font-size="12">Relation recorded in the source of the person</text>
                <text transform="matrix(1 0 0 1 67.4175 68.083)" font-family="'Open Sans Condensed Light Italic'" font-size="12">Relation recorded in the source of the related person</text>
                <circle fill="#9980CC" stroke="#330099" cx="55" cy="44.664" r="5"/>
                <circle fill="#EFB380" stroke="#DF6800" cx="55" cy="24.664" r="5"/>
                <circle fill="#8ABF80" stroke="#157F00" cx="55" cy="64.664" r="5"/>
            </svg>
        </div>

        {% if person.review_flag %}
            <p><b>Warning: person needs revision</b></p>
        {% endif %}

        <p>
            ID: {{ person.id }} <br />

            {% if person.patrician %}
                Patrician: {% if person.patrician_uncertainty %}?{% endif %}{{ person.patrician }} <br />
            {% endif %}
            {% if person.gens %}
                Gens: {% if person.gens_uncertainty %}?{% endif %}{{ person.gens }} <br />
            {% endif %}
        </p>

        <h2>Offices</h2>

        <ul class="timeline no-bullet bottom-margin">
            {% for pa in person.post_assertions.all %}
                <li><span class="label radius secondary">{{ pa.print_date |safe}}</span> <strong>{{ pa.office | title}} {% if pa.provinces %} {{pa.print_provinces}} {% endif %}</strong>

                {% if pa.notes.count %}
                <ul class="no-bullet">
                    {% for note in pa.notes.all %}
                        <li>{{note.text}} (in <i>{{note.secondary_source.abbrev_name}}</i>)</li>
                    {% endfor %}
                </ul>
                {% endif %}

                </li>
            {% endfor %}
        </ul>

    </div>
</div>

{% endblock %}