{% if person.get_dates %}
<h3>Life Dates</h3>
<ul class="timeline no-bullet">
    {% for di in person.get_dates %}
    <li>
        <span{% if di.uncertain %} class="uncertain"{% endif %}>{{ di }}</span>
        {% if di.has_ruepke_secondary_source %}
        <a href="#" class="expander life-dates right">Expand <i class="fa fa-caret-right"></i></a>
        <p class="hide collapsible do-not-print">{{ di.get_ruepke_notes|capfirst }}</p>
        {% elif di.notes %}
        <a href="#" class="expander life-dates right">Expand <i class="fa fa-caret-right"></i></a>
        <p class="hide collapsible do-not-print">{{ di.notes|capfirst }}</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
