// Global Foundation Settings
@import "settings";

@import "../vendor/foundation/scss/normalize";

@import '../vendor/foundation/scss/foundation';

@import '../vendor/font-awesome/scss/font-awesome.scss';

/*** Global ***/

header {
	background: $smoke;
}

.content-area {
	background: $white;
	padding-top: 1rem;
}

/*** Typography ***/

@font-face {
    font-family: 'Cinzel';
    src: url('/static/fonts/Cinzel/Cinzel-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Cinzel-Bold';
    src: url('/static/fonts/Cinzel/Cinzel-Bold.ttf');
    font-weight: bold;
}

/*** Headings ***/

h1, h2 {
	font-family: 'Cinzel', serif;
}

h1.site-title,
h2.site-title {
	font-size: 2rem;
	text-align: center;
}

h3 {
	font-family: 'Cinzel-Bold', serif;
	font-size: 1.25rem;
}

/*** Navigation ***/
