@import "settings";

@import "../vendor/foundation/scss/normalize";

@import '../vendor/foundation/scss/foundation';

@import '../vendor/font-awesome/scss/font-awesome.scss';

/*** Global ***/

hr {
    height: 1px;
    color: scale-color($primary-color, $lightness: 60%);
    background-color: scale-color($primary-color, $lightness: 60%);
    border: 0;
}

li.greyed-out a {
    color: rgba(0, 0, 0, 0.3) !important;
}

ul {
    &.button-group {
        a {
            &.button {
                margin: 0 0 .125rem;
            }
        }
    }
}

.active {
    font-weight: 700;
}

.bottom-margin {
    li {
        margin-bottom: 1rem;
    }
}

.button-group.stack > li > button,
.button-group.stack > li .button {
    border-color: rgba(255, 255, 255, 1);
}

.button-group.stack > li {
    &:first-child {
        border: none;
    }
}

.capitalize::first-letter {
    text-transform: capitalize; 
}

.choices {
    background: scale-color($sand, $lightness: 30%);
    
    .icon {
        font-size: 3rem;
    }

    .text {
        font-size: 1.5rem;
    }
}

// Cookies

.cookies-box {
    background: $primary-color;
    bottom: 0;
    color: $white;
    left: 0;
    margin: 0;
    opacity: 0.95;
    position: fixed;
    text-align: center;
    width: 100%;

    a {
        &.button {
            text-decoration: underline;
        }
    }

    a,
    button,
    .button {
        border: 0;
        color: $white !important;
        height: 3rem;
        line-height: 1rem;
    }
    
    button {
        &:hover {
            background: #444;
        }
    }

    .closeme {
        margin-left: 1rem;
    }

    p {
        margin: 1rem;
    }
}

.content-area {
    background: $white;
    padding-top: 1rem;
}

.datetypes {
    border: 1px solid $secondary-color;

    h4 {
        padding-top: 5px;
    }

    ul {
        padding-bottom: 5px;
    }
}

.edit-search {
    margin-top: 5px;
}

.expander {
    padding: 0 0 .5rem;
    margin-bottom: .5rem;
    display: block;
}

.export {
    padding-right: 1rem;
    text-align: center;
    label {
        font-size: .75em;
    }
}

/* Handles the offset of the magellan sticky navigation */
.extra-margin {
    padding-top: 140px;
}

.grayed-out {
    color: $jumbo;
    .label {
        background: $jumbo;
    }
}

.group {
    border-left: 1px dotted $jumbo;
    margin-left: rem-calc(8);
    padding-left: rem-calc(16);
}

.hierarchical-facets {
    a {
        margin: 0;
        padding: 0;
    }

    li {
        border-bottom: 1px solid scale-color($secondary-color, $lightness: -10%);

        .label {
            margin-top: .25rem;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

.hyphen {
    hyphens: auto;
    word-wrap: break-word;
}

.info {
    font-size: .875rem;
    color: $primary-color !important;
    font-style: italic;
    margin-bottom: .5rem;
}

.inline-list.no-bullet.collapse {
    margin: 0;
    padding: 0;
}

.inline-list i {
    display: inline-block;
}

.less-padding {
    padding: .5rem !important;
}

.panel.callout {
    button {
        margin-bottom: 0;
    }
}

.rich-text {
    padding-bottom: 1rem;
}

.slider {
    margin-top: .75rem;
}

.smaller-fontsize {
    font-size: .875em !important;
}

.textright {
    text-align: right;
}

.top-padding {
    padding-top: 1rem;
}

.two-columns {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;

    -moz-column-fill: auto;
    column-fill: auto;
    height: 180px;
}

.uncertain {
    color: $jumbo;
    font-style: italic;
}

.year {
    h3 i {
        color: scale-color($jumbo, $lightness: 30%);
    }
}

/* Colours */

.gray {
    color: gray;
}

a span.gray {
    color: gray !important;
}

.gray-bg {
    background: gray;
}

.green {
    color: $success-color !important;
}

a span.green {
    color: $success-color;
}

.green-bg {
    background: $success-color;
}

.red {
    color: red;
}

/* Highlight newly added filters in the preview box */

.free-filters li:last-child span.label {
    animation: highlight 3s ease;
}

@keyframes highlight {
    from { background: scale-color(yellow, $lightness: 50%); }
    to { background: $primary-color; }
}

/*** Header ***/

header.main-header {
    background: url('/static/images/header-bg.png') center right no-repeat $sand;
    background-size: cover;
}

.header {
    background: url('/static/images/Togatus_Barberini_2392-transparent.png') center left no-repeat;
    background-size: contain;
}

/*** Headings ***/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $dark-gold;
}

h1,
h2,
h3 {
    font-family: 'Julius Sans', sans-serif;
}

h1.site-title,
h2.site-title {
    line-height: 1.25;
    padding-left: 5rem;
    padding-top: 2rem;
    text-shadow: 0 0 1px #666;
}

h3 {
    font-size: 1.5rem;
}

h4,
h5,
h6 {
    font-family: 'Open Sans Condensed Light', sans-serif;
}

.main h1,
.main h2,
.main h3 {
    font-family: 'Open Sans Condensed Light', sans-serif;
}

.main h1 .label,
.main h2 .label {
    font-size: .75em;
}

/*** Navigation ***/

.top-bar-section ul li {
    border-right: 1px solid scale-color($royal-blue, $lightness: 15%);
}

.top-bar-section ul li:last-child {
    border: none;
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    border-bottom: 1px solid scale-color($royal-blue, $lightness: 15%);
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button):hover {
    background: scale-color($royal-blue, $lightness: -15%);
}

/*** Side Nav ***/

h3.quick-home {
    padding-top: 1rem;
}

.quick-home li a {
    margin: 0;
    padding-left: 1rem !important;
    text-align: left;
}

/*** Content ***/

.key {
    font-size: .875rem;
    font-style: italic;
    margin-top: 1.25rem;
}

.life-dates {
    margin: 0;
    padding: 0;

    h2 {
        margin: 0;
        padding: 0;
    }
}

.list-page-title {
    border-bottom: 1px solid $iron;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
}

.main {
    img {
        width: 100%;
    }
}

.relationships {
    dd {
        border-bottom: 1px dotted scale-color($secondary-color, $lightness: -15%);

        .label {
            background-color: transparent;
            margin-right: 3px;
            width: 30px;
        }

        &.relationship-1 {
            .label {
                background-color: rgba(255, 225, 95, 1);
            }
        }

        &.relationship-2 {
            .label {
                background-color: rgba(72, 60, 84, .8);
            }
        }

        &.relationship-3 {
            .label {
                background-color: rgba(67, 138, 221, .7);
            }
        }

        &.relationship-4 {
            .label {
                background-color: rgba(171, 112, 21, .7);
            }
        }

        &.relationship-5 {
            .label {
                background-color: rgba(129, 174, 141, 1);
            }
        }

        &.relationship-6 {
            .label {
                background-color: rgba(123, 133, 169, .7);
            }
        }

        &.relationship-7 {
            .label {
                background-color: rgba(137, 84, 92, .7);
            }
        }

        &.relationship-8 {
            .label {
                background-color: rgba(123, 255, 225, 1);
            }
        }

        &.relationship-9 {
            .label {
                background-color: rgba(255, 163, 173, 1);
            }
        }

        &.relationship-10 {
            .label {
                background-color: rgba(163, 255, 0, .8);
            }
        }
    }
}

.timeline {
    // .label {
    //     font-size: 1rem;
    // }

    li {
        border-bottom: 1px dotted scale-color($secondary-color, $lightness: -15%);
        margin-bottom: .5rem;

        &:before {
            color: $primary-color;
            // content: "\f111 \A \f106";
            content: "\f107";
            display: inline-block;
            font-family: "FontAwesome";
            padding-right: 10px;
            vertical-align: text-top;
            white-space: pre; /* or pre-wrap */
        }

        a {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        p {
            padding-left: 20px;
        }
    }

    li li {
        border-bottom: none;
        &:before {
            content: none;
        }
    }

    ul {
        // border-left: 1px dotted $primary-color;
        margin-left: .28125rem !important;
        margin-top: -.5rem;
        padding-left: 1.25rem;
        padding-top: .5rem;
    }
}

/*** Search / Facets / Filters ***/

.applied-filter-list {
    clear: both;
    margin-left: 0;
    .label {
        background: scale-color($dark-gold, $lightness: 75%) !important;
        font-size: 1em;
    }

    li {
        margin-left: 0;
        margin-right: .5rem;
        margin-bottom: .5rem;
    }
}

.applied-filter-box {
    background: scale-color($dark-gold, $lightness: 92%);
    border-left: none;
    border-right: none;
    padding: .5rem;
    button,
    .button {
        margin-bottom: .5rem;
    }
}

.drop-list {
    height: 550px; /* To overcome the overflow: hidden that cuts the list off */
    overflow: scroll;

    li {
        border-bottom: 1px solid #ccc;
    }

    li:last-child {
        border: none;
    }
}

.enlarge {
    background: $secondary-color;
    bottom: 0;
    display: block;
    padding: .5rem;
    position: absolute;
    right: 0;
    text-align: center;
}

.f-dropdown {
    &.content {
        max-width: 350px;
    }
}

.options {
    a,
    span {
        margin-bottom: 0 !important;
    }

    border: 1px solid scale-color($primary-color, $lightness: 70%) !important;
    border-bottom: none !important;
    margin-bottom: 0 !important;
}

//List (Fasti)

div.group ol.search-results{
    margin-bottom: 1.0rem;
}

// Pagination (Fasti)

.pagination-fasti {
    margin-bottom: 1rem;

    button {
        color: #999 !important;
        font-size: 0.75rem !important;
        height: 1.5rem !important;
        margin-left: 0.3125rem !important;
        border-radius: 3px !important;
        border: none !important;
        transition: background-color 300ms ease-out !important;
        background: $white !important;
        display: block !important;
        font-size: 1em !important;
        padding: 0.0625rem 0.625rem 0.0625rem !important;
        line-height: 1rem !important;
    }

    .jplist-current {
        background: $primary-color !important;
        color: #fff !important;
        cursor: default;
        font-weight: bold;
        text-shadow: none;
    }
}

.search-box {
    background: $secondary-color;
    border: 1px solid scale-color($primary-color, $lightness: 70%);
    padding: 1rem;

    button.secondary,
    .button.secondary,
    .label.secondary {
        background: scale-color($secondary-color, $lightness: -10%);

        &:hover {
            background: scale-color($secondary-color, $lightness: -25%);
        }
    }

    h4 {
        font-size: 1.25rem;

        a i {
            color: scale-color($primary-color, $lightness: 50%);
            font-size: .875rem;
        }
    }
}

#search form {
    display: block;
    height: 100%;
    overflow: hidden; /* Stops the page from overflowing due to long list of
                         filters */
}

.senators {
    animation: flash 3s ease;
    padding: 0 .5rem;
}

@keyframes flash {
    from { background: #fff; }
    to { background: scale-color(yellow, $lightness: 50%); }
}

.ffs {
    display: inline-block;
    h4 {
        float: left;
        line-height: 1.5;
        margin-top: -.875rem;
        padding: .5rem .5rem 0;
    }

    .details {
        padding-left: .5rem;
    }
}

/* Senate View */
.certainty_switch{
    ul {
        list-style-type: none;
        margin-left: 0;
    }
    li{
        float:left;
        margin-left: 3%;
    }
    li.alpha {
        margin-left: 0;
    }
}

/* Auto-complete */
.easy-autocomplete-container {
    ul {
        max-height: 400px;
        margin-left: 0;
        overflow: scroll;
    }

    width: 280px !important;
}
/***/

.facets hr {
    margin: 0 0 1rem;
}

.fixed-height {
    height: 200px;
    overflow: auto;
}

.free-filters li {
    margin: .25rem .25rem 0 0;
    .label {
        font-size: .875rem;
        a {
            color: white;
        }
    }
}

.list-offices {
    li {
        border-bottom: none;
        margin: 0;
    }
}

.list-sequence {
    margin-left: -.5rem;
    li {
        border-bottom: none;
        margin-left: .5rem;
        &:after {
            font-family: "FontAwesome";
            font-size: .8125rem;
            content: "\f105";
            padding-left: .625rem;
            color: #666;
        }
        &:last-child {
            &:after {
                content: "";
                padding-left: 0;
            }
        }
    }
    span {
        float: left;
    }
}

.name-row {
    input {
        border-radius: 0 !important;
        margin-bottom: 0;
        padding: 0;

        &#id_re_number {
            padding: 6px 12px;
        }
    }

    .columns {
        padding: 0 .25rem !important;

        &:first-child {
            padding-left: .5rem !important;
        }

        &:last-child {
            padding-right: .5rem !important;
        }
    }
}

.offices {
    height: 200px;
    overflow: scroll;
}

.panel-head h4 {
    cursor: pointer;
    margin-bottom: 0;
}

.panel-head .label {
    font-size: .75em;
}

.panel-heading {
    border-bottom: 1px solid $primary-color;
    padding-bottom: .25rem;
    margin-bottom: 0 !important;
}

.panel-body ul {
    margin-top: 1rem;
    margin-bottom: 0;
}

.panel-body li {
    border-bottom: 1px solid #fff;

    .label {
        margin-top: .25rem;
    }
}

.panel-body li:last-child {
    border-bottom: none;
}

.results-preview {
    background: scale-color($primary-color, $lightness: 70%);
}

.search-results {
    color: #444;
    font-size: .8125rem;

    .label {
        font-family: 'Open Sans Condensed Light', sans-serif;
        font-size: 1rem;
        margin-top: .5rem;
    }

    li {    
        border-bottom: 1px solid $sand;
        margin-bottom: .5rem;

        h3,
        h4 {
            margin-bottom: .25rem;
        }

        h4 {
            font-size: 1.25rem;
        }

        p {
            font-size: .8125rem;
            margin: .5rem 0;
        }

        .row {
            margin-bottom: .5rem;
        }
    }

    .svg-container {
        margin-top: .5rem !important;
    }
}

/*** Blog ***/
ul.blog,
ul.blog p {
    font-size: .875rem;
    margin: .5rem 0;
    line-height: 1.25rem;
}

ul.blog li {
    display: block;
    overflow: hidden;
    border-bottom: 1px dotted $royal-blue;
    margin: 1rem 0;
    padding-bottom: 1rem;
}

ul.blog li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.posts li {
    border-bottom: 1px solid $iron;
}

.postcontent {
    padding-bottom: 1rem;
}

p.meta,
.byline {
    font-size: .75rem !important;
    font-style: italic;
}

.caption {
    font-size: .875rem;
    color: #666;
    padding: .5rem 0 1rem;
}

/*** Events ***/

.events .byline {
    font-size: 1.5rem !important;
    font-style: normal;
}

.events .byline:before {
    content: "\f073 ";
    font-family: 'FontAwesome';
    padding-right: 5px;
}

.events .optional {
    display: none;
}

/*** Sidebar ***/
.sidebar {
    background: $sand;
    padding: 1rem;
}

ul.local-navigation {
    list-style: none;
    margin-left: 0;
    font-family: 'Open Sans Condensed Light', sans-serif;
    font-size: 1.125rem;
}

.local-navigation li {
    border-bottom: 1px solid scale-color($royal-blue, $lightness: 60%);
}

.local-navigation li a {
    padding: .5rem 0;
    display: block;
}

.local-navigation li a:hover {
    background-color: scale-color($royal-blue, $lightness: 70%);
}

/*** Footer ***/

footer.main-footer {
    color: $dark-gold;
    font-size: .75rem;
    padding-top: 1rem;

    a {
        border-bottom: 1px dotted $dark-gold;
        color: $dark-gold;
    }

    p {
        font-size: .75rem; 
    }

    .logo {
        max-width: 150px;

        a {
            border: none !important;
        }
    }

    .right p {
        text-align: right;
    }
}

/*** SVG / Graphs / Sigma / Visualizations ***/

.svg-container,
.sigma-container {
    border: 3px solid $secondary-color;
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
}

.svg-container {
    height: 0;
    padding-top: 60%;
}

.svg-title {
    background: $secondary-color;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding: .5rem .5rem .375rem;
}

svg {
    left: 0;
    position: absolute;
    top: 0;
}

.svg-link {
    fill: $primary-color;
    &:hover {
        fill: $dark-gold;
    }
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

#family-graph {
    display: block;
}

#sigma-container {
    display: block;
    height: 465px;
    max-width: 100%;
}

.reveal-modal .svg-container {
    border: none;
}


#network {
    height: 600px;
    margin: 10px;
    width: 100%;
}

.sigma-tooltip {
    background-color: rgb(249, 247, 237);
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    max-height: 280px;
    max-width: 400px;
}

.sigma-tooltip-header {
    border-bottom: 1px solid #aac789;
    color: #437356;
    font-size: 120%;
    font-variant: small-caps;
    padding: 10px;
}

.sigma-tooltip-body th {
    color: #999;
    text-align: left;
}

.sigma-tooltip-footer {
    border-top: 1px solid #aac789;
    padding: 10px;
}

.sigma-tooltip > .arrow {
    border-color: transparent;
    border-style: solid;
    border-width: 10px;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.sigma-tooltip.top {
    margin-top: -12px;
}

.sigma-tooltip.top > .arrow {
    border-bottom-width: 0;
    border-top-color: rgb(249, 247, 237);
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
}

/*** Typography ***/

@font-face {
    font-family: 'Julius Sans';
    src: url('/static/fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Condensed Light';
    src: url('/static/fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf');
}

@font-face {
    font-family: 'Open Sans Condensed Light Italic';
    src: url('/static/fonts/Open_Sans_Condensed/OpenSans-CondLightItalic.ttf');
}

@font-face {
    font-family: 'Open Sans Condensed Bold';
    src: url('/static/fonts/Open_Sans_Condensed/OpenSans-CondBold.ttf');
}

/*** Custom media queries ***/

@media #{$large-up} {
    h1.site-title,
    h2.site-title {
        font-size: 2.5rem !important;
        width: 80%;
    }
    .ffs {
        h4 {
            width: 700px;
        }
    }
}

@media #{$medium-only} {
    h1.site-title,
    h2.site-title {
        font-size: 2rem;
    }

    .ffs {
        h4 {
            width: 450px;
        }
    }
}

@media #{$small-only} {
    h1.site-title,
    h2.site-title {
        font-size: 1.75rem;
        padding-top: 1em;
    }

    .top-search {
        display: block;

        button,
        .options {
            border: none !important;
            float: none !important;
            width: 100%;

            .button {
                width: 100%;
            }
        }
    }
}

/* Printing search results */

@media print {

    body .search-results {
        font-family: 'Open Sans Condensed Light', sans-serif !important;
        font-size: 12px !important;

        .free-filters .label {
            font-size: 11px !important;
        }

        h3 {
            font-size: 14px !important;
            margin: 0 !important;
            line-height: 1 !important;
        }
        h4 {
            font-size: 12px !important;
            margin: 0 !important;
        }
    }

    @page {
        font-family: 'Open Sans Condensed Light', sans-serif !important;
        font-size: 12px !important;
        line-height: 1 !important;
        margin: 1.5cm;
    }

    a,
    a:active,
    a:visited {
        text-decoration: none;
    }

    a:link:after,
    a:visited:after {
        content: "" !important;
    }

    .extra-margin {
        padding-top: 0;
    }

    .hide {
        display: table !important;
    }

    header,
    nav,
    footer,
    .enlarge,
    .expander,
    .do-not-print,
    .pagination-centred,
    .results-preview.fixed {
        display: none;
    }

    li {
        page-break-inside: avoid !important;
    }

    .results-preview {
        border: none;
    }
}