<footer class="main-footer">
	<div class="row">
		<div class="large-4 medium-12 small-12 columns">
			<ul class="inline-list">
				<li class="logo"><a href="http://www.kcl.ac.uk/artshums/depts/ddh/" target="_blank" title="Link to King's DDH - Open new window"><img src="/static/images/KCL-logo-dark-gold.svg" alt="King's College London"></a></li>
			</ul>
		</div>
		<div class="large-8 medium-12 small-12 columns right">
			<p><a href="/about/">About the project</a> | <a href="/contact/">Contact</a></p>
			<p>&copy; 2015 King's College London. All rights reserved.</p>
		</div>
	</div>
</footer>