<footer class="main-footer">
	<div class="row">
		<div class="large-6 medium-12 small-12 columns">
			<ul class="inline-list">
				<li class="logo">
					<p>&nbsp;</p>
					<a href="http://www.kcl.ac.uk/artshums/" target="_blank" title="Link to King's DDH - Open new window"><img src="/static/images/KCL-logo-dark-gold.svg" alt="King's College London"></a>
				</li>

				<li class="logo">
					<p>Funded by</p>
					<a href="http://www.ahrc.ac.uk/" target="_blank" title="Arts and Humanities Research Council - Open new window"><img src="/static/images/ahrc-2018-portrait-logo-750px.png" alt="Arts and Humanities Research Council"></a>
				</li>
			</ul>
		</div>
		<div class="large-6 medium-12 small-12 columns right">
			<p>&copy; {% now 'Y' %} King's College London. All rights reserved.</p>
			<p><a href="/privacy-cookie-policy/">Privacy &amp; Cookie Policy</a></p>
			<p><a href="/accessibility-statement/">Accessibility Statement</a></p>
			<p>Designed, developed, and maintained by <a href="//kdl.kcl.ac.uk">King's Digital Lab</a></p>
		</div>
	</div>
	<div class="callout cookies-box hide" id="cookie-disclaimer" data-closable>
		<p>We use cookies to track usage and preferences.</p>
		<p><a href="/privacy-cookie-policy/">Privacy &amp; Cookie Policy</a> <button class="button success closeme" aria-label="Dismiss alert" type="button" data-close>Accept</button></p>
	</div>
</footer>