<footer class="main-footer">
	<div class="row">
		<div class="large-4 medium-12 small-12 columns">
			<ul class="inline-list">
				<li class="logo"><a href="http://www.kcl.ac.uk/artshums/" target="_blank" title="Link to King's DDH - Open new window"><img src="/static/images/KCL-logo-dark-gold.svg" alt="King's College London"></a></li>
			</ul>
		</div>
		<div class="large-8 medium-12 small-12 columns right">
			<p>&copy; {% now 'Y' %} King's College London. All rights reserved.</p>
		</div>
	</div>
	<div class="callout cookies-box hide" id="cookie-disclaimer" data-closable>
		<p>We use cookies to track usage and preferences.</p>
		<p><a href="/privacy-cookie-policy/">Privacy &amp; Cookie Policy</a> <button class="button success closeme" aria-label="Dismiss alert" type="button" data-close>Accept</button></p>
	</div>
</footer>