<div class="row name-row hyphen">
    <div class="medium-1 columns">
        {{ form.praenomen }}
        <label>Praenomen</label>
    </div>
    <div class="medium-2 columns">
        {{ form.nomen }}
        <label>Nomen</label>
    </div>
    <div class="medium-1 columns">
        {{ form.re_number }}
        <label>RE</label>
    </div>
    <div class="medium-1 columns">
        {{ form.f }}
        <label>Father</label>
    </div>
    <div class="medium-1 columns">
        {{ form.n }}
        <label>Grandfather</label>
    </div>
    <div class="medium-2 columns">
        {{ form.tribe }}
        <label>Tribe</label>
    </div>
    <div class="medium-2 columns">
        {{ form.cognomen }}
        <label>Cognomen</label>
    </div>
    <div class="medium-2 columns">
        {{ form.other_names }}
        <label>Additional Cognomina</label>
    </div>
</div>
