{% extends "base.html" %}
{% load ddh_utils_tags wagtailbase_tags highlight staticfiles mptt_tags %}

{% block meta_title %}
Search Results{% comment %}{% if query %} for {{ query }}{% endif %}{% endcomment %}
{% endblock %}

{% block headercss %}
<link rel="stylesheet" href="{% static 'vendor/EasyAutocomplete/dist/easy-autocomplete.min.css' %}">
{% endblock %}

{% block main %}
<div class="row">
    <div class="large-12 columns" id="search">
        <header>
            <h1 id="search-box">Search</h1>
            <button class="small button secondary options">
                <i class="fa fa-cog"></i>
                <span id="showhide">Hide</span>
                search settings
            </button>
            <a href="/browse/" class="right options">
                <span class="small button">
                    <i class="fa fa-refresh"></i>
                    Start new search
                </span>
            </a>
        </header>
        <form method="get" action=".">
            <div class="search-box">
                <section data-section="non-expandable" data-expandable-group-member="facets" id="dprr-filter">
                    <div class="row do-not-print">
                        <div class="large-12 columns">
                            <h4>Refine your search</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="panel results-preview" data-magellan-expedition="fixed">
                                <h4>Search results
                                    <a href="#search-results-box" class="less-padding button right do-not-print">
                                        Show <strong>{{ paginator.count }}</strong> results
                                    </a>
                                </h4>
                                <h4>
                                    <strong>{{ paginator.count }}</strong>
                                    records available based on your filters
                                    <a href="{% url 'haystack_search' %}#search" class="do-not-print">
                                        <i class="fa fa-trash"></i> Clear all
                                    </a>
                                </h4>

                                {% include "search/filters.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="row do-not-print">
                        <div class="large-12 columns">
                            <div class="panel callout">
                                <h3 class="panel-heading">Name</h3>
                                <p class="info">
                                <i class="fa fa-info-circle"></i>
                                Autocomplete suggestions will appear once you start typing
                                </p>

                                {% include "search/name.html" %}
                            </div>

                            <div class="panel callout">
                                <h3 class="panel-heading">Personal data</h3>
                                <p class="info">
                                <i class="fa fa-info-circle"></i>
                                Some info on this section
                                </p>
                                {{ form.date_from.errors }}
                                {{ form.date_to.errors }}
                                <div class="row range">
                                    <div class="medium-2 columns">
                                        <h4>
                                            <br>
                                            Life Dates
                                            <a data-dropdown="life-dates" aria-controls="life-dates" aria-expanded="false" class="smaller-fontsize">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        </h4>

                                        <div id="life-dates" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
                                            <p>Info about the <strong>Life Dates</strong></p>
                                        </div>
                                    </div>
                                    <div class="medium-4 columns">
                                        <label>After</label>
                                        {{ form.date_from }}
                                    </div>
                                    <div class="medium-4 columns">
                                        <label>Before</label>
                                        {{ form.date_to }}
                                    </div>
                                    <div class="medium-2 columns">
                                        <label>&nbsp;</label>
                                        <button type="submit" class="less-padding expand secondary">Apply</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="medium-3 columns">
                                        <ul class="stack button-group">
                                            {% for term in facets.fields|get_item:"gender" reversed %}
                                            {% with value=term.0 count=term.1 %}
                                            {% if count > 0 %}
                                            <li>
                                                <a href="{% add_facet_link querydict "gender" value %}#search"
                                                   class="button secondary less-padding smaller-fontsize text-left">
                                                    {{ value }}&nbsp;
                                                    <span class="label radius right">{{ count }}</span>
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% endwith %}
                                            {% endfor %}
                                        </ul>

                                        <h4>
                                            <br>
                                            Status
                                            <a data-dropdown="status" aria-controls="status" aria-expanded="false" class="smaller-fontsize">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        </h4>

                                        <div id="status" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
                                            <p>
                                            Info about <strong>Status</strong><br>
                                            Some generic text here.
                                            </p>
                                            <p><strong>Eques R:</strong> description here.</p>
                                            <p><strong>Nobilis:</strong> description here.</p>
                                            <p><strong>Novus:</strong> description here.</p>
                                            <p><strong>Patrician:</strong> description here.</p>
                                        </div>

                                        <ul class="button-group">
                                            {% include "search/status.html" with item="nobilis" title="Nobilis" %}

                                            {% include "search/status.html" with item="novus" title="Novus" %}

                                            {% include "search/status.html" with item="patrician" title="Patrician" %}

                                            {% include "search/status.html" with item="eques" title="Eques R" %}
                                        </ul>
                                    </div>
                                    <div class="medium-8 medium-offset-1 columns datetypes">
                                        <h4>Date Types
                                            <a data-dropdown="date-types" aria-controls="date-types" aria-expanded="false" class="smaller-fontsize">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        </h4>

                                        <div id="date-types" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
                                            <p>Info about the <strong>Date Types</strong></p>
                                        </div>
                                        <ul class="stack button-group two-columns">
                                            {% for term in facets.fields|get_item:"life_date_types" %}
                                            {% with value=term.0 count=term.1 %}
                                            <li>
                                                <a href="{% add_facet_link querydict "life_date_types" value %}#search"
                                                   class="button secondary less-padding smaller-fontsize text-left">
                                                    <span class="label radius right">{{ count }}</span>{{ value|title }}
                                                </a>
                                            </li>
                                            {% endwith %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row do-not-print">
                        <div class="large-12 columns">
                            <div class="panel callout">
                                <h3 class="panel-heading">Career</h3>
                                <p class="info"><i class="fa fa-info-circle"></i> Time frame: 509 B.C. - 31 B.C.</p>
                                {{ form.date_from.errors }}
                                {{ form.date_to.errors }}
                                <div class="row range">
                                    <div class="medium-2 columns">
                                        <h4>
                                            <br>
                                            Career Dates
                                            <a data-dropdown="career-dates" aria-controls="career-dates" aria-expanded="false" class="smaller-fontsize">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        </h4>

                                        <div id="career-dates" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
                                            <p>Info about the <strong>Career Dates</strong></p>
                                        </div>
                                    </div>
                                    <div class="medium-4 columns">
                                        <label>After</label>
                                        {{ form.date_from }}
                                    </div>
                                    <div class="medium-4 columns">
                                        <label>Before</label>
                                        {{ form.date_to }}
                                    </div>
                                    <div class="medium-2 columns">
                                        <label>&nbsp;</label>
                                        <button type="submit" class="less-padding expand secondary">Apply</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-6 large-3 columns">
                                        <h4>Magistracies
                                            <a data-dropdown="magistracies-info" aria-controls="magistracies-info" aria-expanded="false" class="smaller-fontsize">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        </h4>

                                        <div id="magistracies-info" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
                                            <p>Info about the <strong>Magistracies Offices</strong></p>
                                        </div>

                                        {% include "search/offices.html" with office_list=magisterial_office_list %}
                                    </div>
                                    <div class="medium-6 large-3 columns">
                                        <h4>Promagistracies
                                            <a data-dropdown="promagistracies-info" aria-controls="promagistracies-info" aria-expanded="false" class="smaller-fontsize">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        </h4>

                                        <div id="promagistracies-info" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
                                            <p>Info about the <strong>Promagistracies Offices</strong></p>
                                        </div>

                                        {% include "search/offices.html" with office_list=promagistracies_office_list %}
                                    </div>
                                    <div class="medium-6 large-3 columns">
                                        <h4>Priesthoods
                                            <a data-dropdown="priesthoods-info" aria-controls="priesthoods-info" aria-expanded="false" class="smaller-fontsize">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        </h4>

                                        <div id="priesthoods-info" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
                                            <p>Info about the <strong>Priesthoods Offices</strong></p>
                                        </div>

                                        {% include "search/offices.html" with office_list=priesthoods_office_list %}
                                    </div>
                                    <div class="medium-6 large-3 columns">
                                        <h4>Lower Offices
                                            <a data-dropdown="lower-info" aria-controls="lower-info" aria-expanded="false" class="smaller-fontsize">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        </h4>

                                        <div id="lower-info" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
                                            <p>Info about the <strong>Lower Offices</strong></p>
                                        </div>

                                        {% include "search/offices.html" with office_list=non_magisterial_office_list %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-6 columns">
                                        <h4 class="panel-heading">Distinctions
                                            <a data-dropdown="distinctions" aria-controls="distinctions" aria-expanded="false" class="smaller-fontsize">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        </h4>

                                        <a href="#" class="expander smaller-fontsize">Expand list of available distinctions <i class="fa fa-caret-right"></i></a>

                                        <div class="collapsible hide">
                                            {% include "search/offices.html" with office_list=distinctions_office_list %}
                                        </div>

                                        <div id="distinctions" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
                                            <p>Info about <strong>Distinctions</strong></p>
                                        </div>
                                    </div>
                                    <div class="large-6 columns">
                                        <h4 class="panel-heading">Location
                                            <a data-dropdown="location" aria-controls="location" aria-expanded="false" class="smaller-fontsize">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        </h4>

                                        <a href="#" class="expander smaller-fontsize">Expand list of available locations <i class="fa fa-caret-right"></i></a>

                                        <div class="panel radius fixed-height collapsible hide">
                                            <ul class="no-bullet hierarchical-facets">
                                                {% comment %}
                                                Add options for the hierarchical facets:
                                                using the MPTT template tags to rebuild the tree:
                                                https://django-mptt.github.io/django-mptt/templates.html
                                                {% endcomment %}

                                                {% with treenodes=province_list %}
                                                {% recursetree treenodes %}

                                                {% with num=province_fdict|lookup:node.name %}

                                                {% if num %}
                                                {% comment %} parent node {% endcomment %}
                                                {% if not node.is_leaf_node %}
                                                <li><span class="label radius pull-right">{{province_fdict|lookup:node.name}}</span>

                                                    <a href="{% select_facet_link 'province' node.name %}"><span class="label radius secondary pull-right">Add all</a>
                                                    <a class="show expander" href="#"><i class="fa fa-caret-right"></i> {{ node.name }}</a>
                                                    <ul class="hide collapsible">
                                                        {{ children }}
                                                    </ul>
                                                </li>
                                                {% else %}
                                                {% comment %} no children {% endcomment %}
                                                <li>
                                                    <a href="{% select_facet_link 'province' node.name %}">
                                                        <span class="label radius pull-right">{{num}}</span>
                                                        &nbsp;&nbsp;{{ node.name }}
                                                    </a>
                                                </li>
                                                {% endif %}
                                                {% endif %}
                                                {% endwith %}
                                                {% endrecursetree %}
                                                {% endwith %}
                                                {% comment %} closes the with treenodes {% endcomment %}
                                            </ul>
                                        </div>

                                        <div id="location" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
                                            <p>Info about <strong>Location</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row do-not-print">
                        <div class="large-6 columns">
                            <h4>Text search</h4>
                            <div class="row collapse">
                                <div class="small-9 columns">
                                    {{ form.q }}
                                </div>
                                <div class="small-3 columns">
                                    <button type="submit" class="postfix button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="large-3 large-offset-3 columns">
                            <h4>&nbsp;</h4>
                            <a href="#search-results-box" class="less-padding expand button">
                                Show <strong>{{ paginator.count }}</strong> results
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</div>
<div class="row" id="search-results-box">
    <div class="large-12 columns">
        <hr>
        <h2>Search Results
            <span class="label radius">{{ paginator.count }}</span> 
            <a href="#search" class="less-padding button right edit-search do-not-print">
                <i class="fa fa-edit"></i>
                Edit search
            </a>
            <ul class="inline-list right export do-not-print">
                <li>
                    <a class="right" aria-lablledby="#print" id="printme">
                        <i class="fa fa-print"></i>
                        <label id="print">Print</label>
                    </a>
                </li>
                <li>
                    <a class="right" aria-lablledby="#pdf">
                        <i class="fa fa-file-pdf-o"></i>
                        <label id="pdf">PDF</label>
                    </a>
                </li>
                <li>
                    <a class="right" aria-lablledby="#csv">
                        <i class="fa fa-save"></i>
                        <label id="cvs">CSV</label>
                    </a>
                </li>
            </ul>
        </h2>
        <hr>
        <ol start="{{ page_obj.start_index }}" class="search-results">
            {% for result in object_list %}
            <li>
                {% include "search/person.html" with doc=result.documents.0 %}
            </li>
            {% empty %}
            <li>No results found!</li>
            {% endfor %}
        </ol>

        {% display_pagination querydict page_obj %}
    </div>
</div>
{% endblock main %}

{% block footerscripts %}
<script type="text/javascript">
var autocompleteDict = {
    {% for item in autocomplete_facets %}
    "{{ item }}": [
        {% for term in facets.fields|get_item:item %}
        {% with value=term.0 count=term.1 %}
        {"name": "{{ value.strip }}", "count": "{{count}}"}
        {% if not forloop.last %}, {% endif %} {% endwith %}
        {% endfor %}
    ]
    {% if not forloop.last %},{% endif %}
    {% endfor %}
}
</script>

<!-- EasyAutocomplete -->
<script src="{% static 'vendor/EasyAutocomplete/dist/jquery.easy-autocomplete.js' %}"></script>
<script src="{% static 'javascripts/search.js' %}"></script>
{% endblock %}
