{% extends "base.html" %}
{% load ddh_utils_tags wagtailbase_tags highlight %}

{% block meta_title %}Search Results{% if query %} for {{ query }}{% endif %}{% endblock %}

{% block main %}
<div class="row">
	<div class="large-12 columns" id="search">
		<header>
			<h1 id="search-box">Search</h1>

			<button class="small button secondary options"><i class="fa fa-cog"></i> <span id="showhide">Hide</span> filters' settings</button>
			<a href="/browse/" class="right options"><span class="small button"><i class="fa fa-refresh"></i> Start new search</span></a>
		</header>
			
		<form method="get" action=".">		
			<div class="search-box">
				<section data-section="non-expandable" data-expandable-group-member="facets" id="dprr-filter">
					<div class="row do-not-print">
						<div class="large-12 columns">
							<h4>Refine your search</h4>
						</div>
					</div>
					
					<div class="row">
						<div class="large-12 columns">
							<div class="panel results-preview" data-magellan-expedition="fixed">
								<h4>Results preview <a data-dropdown="results-preview-info" aria-controls="results-preview-info" aria-expanded="false" class="do-not-print"><i class="fa fa-question-circle"></i></a>
								<a href="#search-results-box" class="less-padding button right do-not-print">Show <strong>{{ paginator.count }}</strong> results</a></h4>
								<div id="results-preview-info" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
									<p>Some info on what's displayed by the <strong>results preview</strong>.</p>
								</div>
								<h3><strong>{{ paginator.count }}</strong> records available based on your filters <a href="{% url 'haystack_search' %}#search" class="do-not-print"><i class="fa fa-trash"></i> Clear all</a></h3>

								{% if query or selected_facets or date_filter %}

								<ul class="inline-list no-bullet free-filters">

									{% if query %}
									<li>
										<span class="label radius">
											<a href="{{ remove_text_filter }}#search" title="Remove filter">Text: {{ query }}
												<i class="fa fa-times-circle"></i>
											</a>
										</span>
									</li>
									{% endif %}

									{% if date_filter %}
									<li>
										<span class="label radius">
											<a href="{{ date_filter.0}}#search" title="Remove filter">Post Date: {{ date_filter.1 }}
												<i class="fa fa-times-circle"></i>
											</a>
										</span>
									</li>
									{% endif %}

									{% for facet in selected_facets %}
									<li>
										<span class="label radius">
											{{ facet }}
											<a href="{% remove_facet_link querydict facet %}#search">
												<i class="fa fa-times-circle"></i>
											</a>
										</span>
									</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div>
						</div>
					</div>

					<div class="row do-not-print">
						<div class="large-12 columns">
							<h4>Filter by <strong>names</strong> <a data-dropdown="names-info" aria-controls="names-info" aria-expanded="false"><i class="fa fa-question-circle"></i></a></h4>
							<div id="names-info" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
								<p>Some info on how to use the <strong>name search</strong>.</p>
							</div>

							<div class="row name-row">
								<div class="large-2 columns">
									{% comment %}
									<label>Praenomen
										<select>
											<option></option>
											{% for term in facets.fields|get_item:"praenomen" %}
											{% with value=term.0 count=term.1 %}
											{% if count > 0 %}
											<option value="{{ value }}">{{ value }} ({{ count }})</option>
											{% endif %}
											{% endwith %}
											{% endfor %}
										</select>
									</label>
									{% endcomment %}

									<button data-dropdown="praenomen" aria-controls="praenomen" aria-expanded="false" class="name-form button dropdown">Praenomen</button><br>

									<ul id="praenomen" data-dropdown-content class="f-dropdown drop-list" role="menu" aria-hidden="false" tabindex="-1">
										{% for term in facets.fields|get_item:"praenomen" %}
										{% with value=term.0 count=term.1 %}
										{% if count > 0 %}
										<li><a href="{% add_facet_link querydict "praenomen" value %}#search" class="add-filter"><span class="secondary label radius right highlight">{{ count }}</span>{{ value }}</a></li>
										{% endif %}
										{% endwith %}
										{% endfor %}
									</ul>
								</div>
								<div class="large-1 columns">
									{% comment %}
									<label>Nomen
										<select>
											<option></option>
											{% for term in facets.fields|get_item:"nomen" %}
											{% with value=term.0 count=term.1 %}
											{% if count > 0 %}
											<option value="{{ value }}">{{ value }} ({{ count }})</option>
											{% endif %}
											{% endwith %}
											{% endfor %}
										</select>
									</label>
									{% endcomment %}

									<button data-dropdown="nomen" aria-controls="nomen" aria-expanded="false" class="name-form button dropdown">Nomen</button><br>

									<ul id="nomen" data-dropdown-content class="f-dropdown drop-list" role="menu" aria-hidden="false" tabindex="-1">
										{% for term in facets.fields|get_item:"nomen" %}
										{% with value=term.0 count=term.1 %}
										{% if count > 0 %}
										<li><a href="{% add_facet_link querydict "nomen" value %}#search"><span class="secondary label radius right">{{ count }}</span>{{ value }}</a></li>
										{% endif %}
										{% endwith %}
										{% endfor %}
									</ul>
								</div>

								<div class="large-1 columns">
									<button data-dropdown="re" aria-controls="f" aria-expanded="false" class="name-form button dropdown">RE</button><br>
									<ul id="re" data-dropdown-content class="f-dropdown drop-list" role="menu" aria-hidden="false" tabindex="-1">
										<li><a href="#search"><span class="secondary label radius right">00</span></a></li>
									</ul>
								</div>


								<div class="large-2 columns">
									{% comment %}
									<label>Father initial
										<select>
											<option></option>
											{% for term in facets.fields|get_item:"f" %}
											{% with value=term.0 count=term.1 %}
											{% if count > 0 %}
											<option value="{{ value }}">{{ value }} ({{ count }})</option>
											{% endif %}
											{% endwith %}
											{% endfor %}
										</select>
									</label>
									{% endcomment %}

									<button data-dropdown="f" aria-controls="f" aria-expanded="false" class="name-form button dropdown">Father initial</button><br>

									<ul id="f" data-dropdown-content class="f-dropdown drop-list" role="menu" aria-hidden="false" tabindex="-1">
										{% for term in facets.fields|get_item:"f" %}
										{% with value=term.0 count=term.1 %}
										{% if count > 0 %}
										<li><a href="{% add_facet_link querydict "f" value %}#search"><span class="secondary label radius right">{{ count }}</span>{{ value }}</a></li>
										{% endif %}
										{% endwith %}
										{% endfor %}
									</ul>
								</div>
								<div class="large-2 columns">
									{% comment %}
									<label>Grandfather initial
										<select>
											<option></option>
											{% for term in facets.fields|get_item:"n" %}
											{% with value=term.0 count=term.1 %}
											{% if count > 0 %}
											<option value="{{ value }}">{{ value }} ({{ count }})</option>
											{% endif %}
											{% endwith %}
											{% endfor %}
										</select>
									</label>
									{% endcomment %}

									<button data-dropdown="n" aria-controls="n" aria-expanded="false" class="name-form button dropdown">Grandfather initial</button><br>

									<ul id="n" data-dropdown-content class="f-dropdown drop-list" role="menu" aria-hidden="false" tabindex="-1">
										{% for term in facets.fields|get_item:"n" %}
										{% with value=term.0 count=term.1 %}
										{% if count > 0 %}
										<li><a href="{% add_facet_link querydict "n" value %}"><span class="secondary label radius right">{{ count }}</span>{{ value }}</a></li>
										{% endif %}
										{% endwith %}
										{% endfor %}
									</ul>
								</div>
								<div class="large-2 columns">
									{% comment %}
									<label>Cognomen
										<select>
											<option></option>
											{% for term in facets.fields|get_item:"cognomen" %}
											{% with value=term.0 count=term.1 %}
											{% if count > 0 %}
											<option value="{{ value }}">{{ value }} ({{ count }})</option>
											{% endif %}
											{% endwith %}
											{% endfor %}
										</select>
									</label>
									{% endcomment %}

									<button data-dropdown="cognomen" aria-controls="cognomen" aria-expanded="false" class="name-form button dropdown">Cognomen</button><br>

									<ul id="cognomen" data-dropdown-content class="f-dropdown drop-list" role="menu" aria-hidden="false" tabindex="-1">
										{% for term in facets.fields|get_item:"cognomen" %}
										{% with value=term.0 count=term.1 %}
										{% if count > 0 %}
										<li><a href="{% add_facet_link querydict "cognomen" value %}"><span class="secondary label radius right">{{ count }}</span>{{ value }}</a></li>
										{% endif %}
										{% endwith %}
										{% endfor %}
									</ul>
								</div>
								<div class="large-2 columns">
									{% comment %}
									<label>Other names
										<select>
											<option></option>
										</select>
									</label>
									{% endcomment %}

									<button data-dropdown="other-names" aria-controls="many" aria-expanded="false" class="name-form button dropdown">Other names</button><br>

									<ul id="other-names" data-dropdown-content class="f-dropdown drop-list" role="menu" aria-hidden="false" tabindex="-1">
										<li><a href="#search"><span class="secondary label radius right">00</span></a></li>
									</ul>
								</div>
							</div>

							<ul class="inline-list">
								{% for term in facets.fields|get_item:"gender" %}
								{% with value=term.0 count=term.1 %}
								{% if count > 0 %}
								<li>
									<a href="{% add_facet_link querydict "gender" value %}#search">
										{{ value }} <span class="label radius">{{ count }}</span>
									</a>
								</li>
								{% endif %}
								{% endwith %}
								{% endfor %}
							</ul>

							<ul class="button-group even-5">
								<li><a href="#" class="button secondary less-padding smaller-fontsize">Certain birth date <span class="label radius right">00</span></a></li>
								<li><a href="#" class="button secondary less-padding smaller-fontsize">Natural death <span class="label radius right">00</span></a></li>
								<li><a href="#" class="button secondary less-padding smaller-fontsize">Violent death <span class="label radius right">00</span></a></li>
								<li><a href="#" class="button secondary less-padding smaller-fontsize">Exiled <span class="label radius right">00</span></a></li>
								<li><a href="#" class="button secondary less-padding smaller-fontsize">Adopted <span class="label radius right">00</span></a></li>
							</ul>

							<h3>Biographic data</h3>
							<ul>
							</ul>
						</div>
					</div>

					<div class="row do-not-print">
						<div class="large-12 columns">
							<div class="panel radius">
								<h4>Filter by <strong>class</strong> <a data-dropdown="class-info" aria-controls="class-info" aria-expanded="false"><i class="fa fa-question-circle"></i></a></h4>
								<div id="class-info" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
									<p>Some info on how to use the <strong>class filter</strong>.</p>
								</div>

								<ul class="inline-list">
									{% comment %}
									{% for term in facets.fields|get_item:"eques" %}
									{% with value=term.0 count=term.1 %}
									{% if value == "true" %}
									<li>
										<input id="eques-id" type="checkbox" value="eques"{% if count = 0 %} disabled{% endif %}> <label for="eques-id"{% if count = 0 %} class="grayed-out"{% endif %}>Eques <span class="label radius">{{ count }}</span></label>
									</li>
									{% endif %}
									{% endwith %}
									{% endfor %}

									{% for term in facets.fields|get_item:"nobilis" %}
									{% with value=term.0 count=term.1 %}
									{% if value == "true" %}
									<li>
										<input id="nobilis-id" type="checkbox" value="nobilis"{% if count = 0 %} disabled{% endif %}> <label for="nobilis-id"{% if count = 0 %} class="grayed-out"{% endif %}>Nobilis <span class="label radius">{{ count }}</span></label>
									</li>
									{% endif %}
									{% endwith %}
									{% endfor %}

									{% for term in facets.fields|get_item:"novus" %}
									{% with value=term.0 count=term.1 %}
									{% if value == "true" %}
									<li>
										<input id="novus-id" type="checkbox" value="novus"{% if count = 0 %} disabled{% endif %}> <label for="novus-id"{% if count = 0 %} class="grayed-out"{% endif %}>Novus <span class="label radius">{{ count }}</span></label>
									</li>
									{% endif %}
									{% endwith %}
									{% endfor %}

									{% for term in facets.fields|get_item:"patrician" %}
									{% with value=term.0 count=term.1 %}
									{% if value == "true" %}
									<li>
										<input id="patrician-id" type="checkbox" value="patrician"{% if count = 0 %} disabled{% endif %}> <label for="patrician-id"{% if count = 0 %} class="grayed-out"{% endif %}>Patrician <span class="label radius">{{ count }}</span></label>
									</li>
									{% endif %}
									{% endwith %}
									{% endfor %}
									{% endcomment %}

									{% for term in facets.fields|get_item:"nobilis" %}
									{% with value=term.0 count=term.1 %}
									{% if value == "true" and count > 0 %}
									<li>
										<a href="{% add_facet_link querydict "nobilis" value %}#search">Nobilis <span class="label radius">{{ count }}</span></a>
									</li>
									{% endif %}
									{% endwith %}
									{% endfor %}

									{% for term in facets.fields|get_item:"novus" %}
									{% with value=term.0 count=term.1 %}
									{% if value == "true" and count > 0 %}
									<li>
										<a href="{% add_facet_link querydict "novus" value %}#search">Novus <span class="label radius">{{ count }}</span></a>
									</li>
									{% endif %}
									{% endwith %}
									{% endfor %}

									{% for term in facets.fields|get_item:"patrician" %}
									{% with value=term.0 count=term.1 %}
									{% if value == "true" and count > 0 %}
									<li>
										<a href="{% add_facet_link querydict "patrician" value %}#search">Patrician <span class="label radius">{{ count }}</span></a>
									</li>
									{% endif %}
									{% endwith %}
									{% endfor %}
								</ul>
								<ul class="inline-list">
									{% for term in facets.fields|get_item:"eques" %}
									{% with value=term.0 count=term.1 %}
									{% if value == "true" and count > 0 %}
									<li>
										<a href="{% add_facet_link querydict "eques" value %}#search">Eques R. <span class="label radius">{{ count }}</span></a>
									</li>
									{% endif %}
									{% endwith %}
									{% endfor %}
									<li><a href="#">Eques R. (Expelled) <span class="label radius">00</span></a></li>
									<li><a href="#">Senator <span class="label radius">00</span></a></li>
									<li><a href="#">Senator (Expelled) <span class="label radius">00</span></a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="large-6 columns">
							<button data-dropdown="tribes" aria-controls="tribes" aria-expanded="false" class="secondary less-padding button expand dropdown">Tribes</button><br>

							<ul id="tribes" data-dropdown-content class="f-dropdown drop-list" role="menu" aria-hidden="false" tabindex="-1">
								{% comment %}
								{% for term in facets.fields|get_item:"tribe" %}
								{% with value=term.0 count=term.1 %}
								{% if count > 0 %}
								<li><a href="{% add_facet_link querydict "tribe" value %}#search"><span class="secondary label radius right">{{ count }}</span>{{ value }}</a></li>
								{% endif %}
								{% endwith %}
								{% endfor %}
								{% endcomment %}
								<li><a href="#">Tribe 1 <span class="secondary label radius right">00</span></a></li>
								<li><a href="#">Tribe 2 <span class="secondary label radius right">00</span></a></li>
								<li><a href="#">Tribe 3 <span class="secondary label radius right">00</span></a></li>
								<li><a href="#">Tribe 4 <span class="secondary label radius right">00</span></a></li>
								<li><a href="#">Tribe 5 <span class="secondary label radius right">00</span></a></li>
								<li><a href="#">Tribe 6 <span class="secondary label radius right">00</span></a></li>
								<li><a href="#">Tribe 7 <span class="secondary label radius right">00</span></a></li>
							</ul>
						</div>
						<div class="large-6 columns">
							<div class="row collapse">
								<div class="small-9 columns">
									<input type="text" name="origin" placeholder="Search for origin">
								</div>
								<div class="small-3 columns">
									<button type="submit" class="postfix secondary button"><i class="fa fa-search"></i></button>
								</div>
							</div>
						</div>
					</div>

					<div class="row do-not-print">
						<div class="large-12 columns">
							<h4>Filter by <strong>date</strong> <a data-dropdown="dates-info" aria-controls="dates-info" aria-expanded="false"><i class="fa fa-question-circle"></i></a></h4>
							<div id="dates-info" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
								<p>Time frame:<br><strong>509 B.C. - 33 B.C.</strong></p>
							</div>

							{{ form.date_from.errors }}
							{{ form.date_to.errors }}

							<div class="row range">
								<div class="small-5 columns">
									<label>From / After (Leave blank for <em>Before</em>)</label>
									{{ form.date_from }}
								</div>
								<div class="small-5 columns">
									<label>To / Before (Leave blank for <em>After</em>)</label>
									{{ form.date_to }}
								</div>
								<div class="large-2 columns">
									<label>&nbsp;</label>
									<button type="submit" class="less-padding expand secondary">Update dates</button>
								</div>
							</div>
						</div>
					</div>

					<div class="row do-not-print">
						<div class="large-6 columns">
							<div class="panel radius fixed-height">
								<h4>Filter by <strong>office</strong> <a data-dropdown="office-info" aria-controls="office-info" aria-expanded="false"><i class="fa fa-question-circle"></i></a></h4>
								<div id="office-info" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
									<p>Some info on how to use the <strong>office filter</strong>.</p>
								</div>
								<ul class="no-bullet">
									{% for term in facets.fields|get_item:"office" %}
									{% with value=term.0 count=term.1 %}
									{% if count > 0 %}
									<li>
										<a href="{% add_facet_link querydict "office" value %}#search">
											<span class="label radius right">{{ count }}</span>
											{{ value }}
										</a>
									</li>
									{% endif %}
									{% endwith %}
									{% endfor %}
								</ul>
							</div>
						</div>
						<div class="large-6 columns">
							<div class="panel radius fixed-height">
								<h4>Filter by <strong>province</strong> <a data-dropdown="province-info" aria-controls="province-info" aria-expanded="false"><i class="fa fa-question-circle"></i></a></h4>
								<div id="province-info" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
									<p>Some info on how to use the <strong>province filter</strong>.</p>
								</div>
								<ul class="no-bullet">
									{% for term in facets.fields|get_item:"province" %}
									{% with value=term.0 count=term.1 %}
									{% if count > 0 %}
									<li>
										<a href="{% add_facet_link querydict "province" value %}#search">
											<span class="label radius right">{{ count }}</span>
											{{ value }}
										</a>
									</li>
									{% endif %}
									{% endwith %}
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>

					<div class="row do-not-print">
						<div class="large-6 columns">
							<h4>Text search <a data-dropdown="text-search-info" aria-controls="text-search-info" aria-expanded="false"><i class="fa fa-question-circle"></i></a></h4>
							<div id="text-search-info" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
								<p>Some info on how to use the <strong>free text search</strong>.</p>
							</div>
							<div class="row collapse">
								<div class="small-9 columns">
									{{ form.q }}
								</div>
								<div class="small-3 columns">
									<button type="submit" class="postfix button"><i class="fa fa-search"></i></button>
								</div>
							</div>
						</div>
					</div>

					<div class="row do-not-print">
						<div class="large-12 columns">
							<a href="#search-results-box" class="less-padding button right">Show <strong>{{ paginator.count }}</strong> results</a>
						</div>
					</div>
				</section>
			</div>
		</form>
	</div>
</div>

<div class="row extra-margin" id="search-results-box">
	<div class="large-12 columns">

		<hr>

		<h2>Search Results <span class="label radius">{{ paginator.count }}</span> <a href="#search" class="less-padding button right edit-search do-not-print"><i class="fa fa-edit"></i> Edit search</a></h2>

		<ul class="inline-list left export do-not-print">
			<li>
				<a class="right" aria-lablledby="#print" id="printme"><i class="fa fa-print"></i><label id="print">Print</label></a>
			</li>
  			<li>
				<a class="right" aria-lablledby="#pdf"><i class="fa fa-file-pdf-o"></i><label id="pdf">PDF</label></a>
			</li>
			<li>
				<a class="right" aria-lablledby="#csv"><i class="fa fa-save"></i><label id="cvs">CSV</label></a>
			</li>
		</ul>

		<ul class="inline-list right key">
			<li>Dates can be: </li>
			<li><span class="label radius green-bg">Certain <i class="fa fa-check-circle"></i></span></li>
			<li><span class="label radius gray-bg">Uncertain <i class="fa fa-minus-circle"></i></span></li>
		</ul>

		<hr>

		<ol start="{{page_obj.start_index}}" class="search-results">
			{% for result in object_list %}
			<li>
				{% with doc=result.documents.0 %}
				<h3>
					<span class="label radius right{% if doc.uncertain == True %} gray-bg{% else %} green-bg{% endif %}">{{ doc.highest_office }}{% if doc.uncertain == True %} <i class="fa fa-minus-circle"></i>{% else %} <i class="fa fa-check-circle"></i>{% endif %}</span>
					<a href="{% url 'person-detail' doc.person_id %}">{{ doc.person }}</a>
				</h3>
				{% for dd in result.documents %}
				<p>
					{% highlight dd.text with query html_tag 'strong' max_length 120  %}
				</p>
				{% endfor %}
				<a href="#" class="expander">Expand <i class="fa fa-caret-right fa-lg"></i></a>
				<div class="row hide collapsible">
					<div class="large-6 columns">
						<p>Placeholder</p>
						<p><em>&lt;List of offices held&gt;</em></p>
						<!--
						<h4>Offices held</h4>
						<ul class="no-bullet list-offices">
							{# for #}
							<li><span class="label radius secondary">87 B.C. Flamen Dialis</span></li>
							<li><span class="label radius secondary">81 B.C. Legatus (Envoy)</span></li>
							<li><span class="label radius secondary">73-44 B.C. Pontifex</span></li>
							<li><span class="label radius secondary">71 B.C. Tribunus Militum</span></li>
							<li><span class="label radius secondary">69 B.C. Quaestor</span></li>
							<li><span class="label radius secondary">68-49 B.C. Promagistrate</span></li>
							<li><span class="label radius secondary">65 B.C. Aedilis Curulis</span></li>
							<li><span class="label radius secondary">64 B.C. Iudex Quaestionis</span></li>
							<li><span class="label radius secondary">63 B.C. Duumvir Perduellionis</span></li>
							<li><span class="label radius secondary">62 B.C. Praetor</span></li>
							<li><span class="label radius secondary">59-44 B.C. Consul</span></li>
							<li><span class="label radius secondary">49-44 B.C. Dictator</span></li>
							{# endfor #}
						</ul>
						-->
					</div>
					<div class="large-6 columns">
						<p>Placeholder visualisation</p>
						<div class="svg-container">
							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 815 485">
								<g transform="translate(40,0)">
									<g>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M120,224.664
											L120,224.664"/>
										
											<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0.995,4.9748" d="
											M125.31,224.441c100.252-6.197,103.002-182.519,204.875-185.894"/>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M333,38.664L333,38.664
											"/>
									</g>
									<g>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M120,224.664
											L120,224.664"/>
										
											<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1.0072,5.0359" d="
											M125.369,224.498c100.182-4.019,102.964-117.105,204.773-119.302"/>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M333,105.664
											L333,105.664"/>
									</g>
									<path fill="none" stroke="#DF6800" stroke-width="2" d="M119.833,224.608c106.667,0,106.667-52.778,213.333-52.778"/>
									<path fill="none" stroke="#DF6800" stroke-width="2" d="M119.833,224.608c106.667,0,106.667,13.889,213.333,13.889"/>
									<path fill="none" stroke="#DF6800" stroke-width="2" d="M119.833,224.608c106.667,0,106.667,113.89,213.333,113.89"/>
									<g>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M120,224.664
											L120,224.664"/>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1.0073,5.0363" d="
											M125.363,224.82c100.189,7.75,102.968,226.051,204.786,230.281"/>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.668,455.162
											c0.166,0.001,0.332,0.002,0.499,0.002"/>
									</g>
									<g>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,39.5h1"/>
										<path fill="#330099" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1,5" d="
											M338.5,39.5h205"/>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M546,38.664
											C546.166,38.664,546,38.664,546,38.664"/>
									</g>
									<g>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,106.5h1"/>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1,5" d="
												M338.5,106.5h205"/>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M546,105.664
												C546.166,105.664,546,105.664,546,105.664"/>
									</g>
									<path fill="#DF6800" stroke="#DF6800" stroke-width="2" d="M332.5,172.5h213"/>
									<path fill="none" stroke="#DF6800" stroke-width="2" d="M332.5,239.5h213"/>
									<g>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,339.5h1"/>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1.0045,5.0225" d="
												M338.69,338.469c100.196-1.119,102.972-32.686,204.798-33.296"/>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M546,305.664
												C546.166,305.664,546,305.664,546,305.664"/>
									</g>
									<g>
										<path fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,339.5h3"/>
										<g>
											<line fill="#157F00" x1="342.5" y1="338.5" x2="540.5" y2="338.5"/>
											<g>
												<line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="342.5" y1="338.5" x2="345.5" y2="338.5"/>
												<line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="6,10" x1="355.5" y1="338.5" x2="532.5" y2="338.5"/>
												<line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="537.5" y1="338.5" x2="540.5" y2="338.5"/>
											</g>
										</g>
										<path fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M542.5,339.5h3"/>
									</g>
									<path fill="none" stroke="#DF6800" stroke-width="2" d="M333.167,338.498c106.666,0,106.666,33.332,213.333,33.332"/>
									<g>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,456.5h1"/>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0.9919,4.9593" d="
												M338.627,455.149c100.271-0.555,103.014-16.347,204.895-16.648"/>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M546,438.664 C546.166,438.664,546,438.664,546,438.664"/>
									</g>
									<g>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,456.5h1"/>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0.9919,4.9593" d="
												M338.627,455.179c100.271,0.555,103.014,16.347,204.895,16.648"/>
										<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M546,471.664 C546.166,471.664,546,471.664,546,471.664"/>
									</g>
									<g id="{{ person.id }}" transform="translate(213.33333333333337,219.44444444444443)">
										<circle fill="#EEEEEE" stroke="#999999" stroke-width="2" cx="-93.833" cy="5.22" r="9"/>
										<text transform="matrix(1 0 0 1 -191.5159 9.1639)" enable-background="new"><tspan x="0" y="0" font-family="'Open Sans Condensed Bold'" font-size="15">C. Iulius (131)</tspan><tspan x="-8" y="18" font-family="'Open Sans Condensed Bold'" font-size="15">C. f. C. n. Caesar</tspan></text>
									</g>
									<g transform="translate(426.66666666666674,33.333333333333336)">
										<circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.164" r="4.5"/>
										<text transform="matrix(1 0 0 1 -168.5031 -3.8362)" font-family="'Open Sans Condensed Light Italic'" font-size="14">adoptive father of</text>
									</g>
									<g transform="translate(640,33.333333333333336)">
										<a xlink:href="#" class="svg-link">
										<circle fill="#9980CC" stroke="#330099" cx="-93.5" cy="5.164" r="4.5"/>
										<text transform="matrix(1 0 0 1 -85.5 8.1638)" enable-background="new"><tspan x="0" y="0" font-family="'Open Sans Condensed Light'" font-size="16">C. Iulius (132) C. f. C. n. Caesar Octavianus</tspan><tspan x="0" y="19.2" font-family="'Open Sans Condensed Light'" font-size="16">= C. Octavius C. f. Thurinus (or Caepias)</tspan></text>
										</a>
									</g>
									<g transform="translate(426.66666666666674,100)">
										<circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.164" r="4.5"/>
										<text transform="matrix(1 0 0 1 -142.2116 -3.8359)" font-family="'Open Sans Condensed Light Italic'" font-size="14">betrothed to</text>
									</g>
									<g transform="translate(640,100)">
										<a xlink:href="#" class="svg-link">
											<circle fill="#9980CC" stroke="#330099" cx="-93.5" cy="5.164" r="4.5"/>
											<text transform="matrix(1 0 0 1 -85.5 8.1641)" font-family="'Open Sans Condensed Light'" font-size="16">-. Cossutia (7)</text>
										</a>
									</g>
									<g transform="translate(426.66666666666674,166.66666666666666)">
										<circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.164" r="4.5"/>
										<text transform="matrix(1 0 0 1 -150.1335 -3.8356)" font-family="'Open Sans Condensed Light Italic'" font-size="14">divorced from</text>
									</g>
									<g transform="translate(640,166.66666666666666)">
										<a xlink:href="#" class="svg-link">
											<circle fill="#EFB380" stroke="#DF6800" cx="-93.5" cy="5.164" r="4.5"/>
											<text transform="matrix(1 0 0 1 -85.5 8.1644)" font-family="'Open Sans Condensed Light'" font-size="16">-. Pompeia (52)</text>
										</a>
									</g>
									<g transform="translate(426.66666666666674,233.33333333333334)">
										<circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.164" r="4.5"/>
										<text transform="matrix(1 0 0 1 -123.8581 -3.8362)" font-family="'Open Sans Condensed Light Italic'" font-size="14">father of</text>
									</g>
									<g transform="translate(640,233.33333333333334)">
										<a xlink:href="#" class="svg-link">
											<circle fill="#EFB380" stroke="#DF6800" cx="-93.5" cy="5.164" r="4.5"/>
											<text transform="matrix(1 0 0 1 -85.5 8.1638)" font-family="'Open Sans Condensed Light'" font-size="16">-. Iulia (547)</text>
										</a>
									</g>
									<g transform="translate(426.66666666666674,333.3333333333333)">
										<circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.165" r="4.5"/>
										<text transform="matrix(1 0 0 1 -133.0163 -3.8363)" font-family="'Open Sans Condensed Light Italic'" font-size="14">married to</text>
									</g>
									<g transform="translate(640,300)">
										<a xlink:href="#" class="svg-link">
											<circle fill="#9980CC" stroke="#330099" cx="-93.5" cy="5.164" r="4.5"/>
											<text transform="matrix(1 0 0 1 -85.5 8.1641)" font-family="'Open Sans Condensed Light'" font-size="16">-. Calpurnia (126)</text>
										</a>
									</g>
									<g transform="translate(640,333.3333333333333)">
										<a xlink:href="#" class="svg-link">
											<circle fill="#8ABF80" stroke="#157F00" cx="-93.5" cy="5.165" r="4.5"/>
											<text transform="matrix(1 0 0 1 -85.5 8.1637)" font-family="'Open Sans Condensed Light'" font-size="16">-. Cornelia (126)</text>
										</a>
									</g>
									<g transform="translate(640,366.66666666666663)">
										<a xlink:href="#" class="svg-link">
											<circle fill="#EFB380" stroke="#DF6800" cx="-93.5" cy="5.163" r="4.5"/>
											<text transform="matrix(1 0 0 1 -85.5 8.1644)" font-family="'Open Sans Condensed Light'" font-size="16">-. Pompeia (143)</text>
										</a>
									</g>
									<g transform="translate(426.66666666666674,450)">
										<circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.164" r="4.5"/>
										<text transform="matrix(1 0 0 1 -113.4655 -3.8359)" font-family="'Open Sans Condensed Light Italic'" font-size="14">son of</text>
									</g>
									<g transform="translate(640,433.33333333333337)">
										<a xlink:href="#" class="svg-link">
											<circle fill="#9980CC" stroke="#330099" cx="-93.5" cy="5.164" r="4.5"/>
											<text transform="matrix(1 0 0 1 -85.5 8.1637)" font-family="'Open Sans Condensed Light'" font-size="16">-. Aurelia (248)</text>
										</a>
									</g>
									<g transform="translate(640,466.6666666666667)">
										<a xlink:href="#" class="svg-link">
											<circle fill="#9980CC" stroke="#330099" cx="-93.5" cy="5.164" r="4.5"/>
											<text transform="matrix(1 0 0 1 -85.5 8.1644)" font-family="'Open Sans Condensed Light'" font-size="16">C. Iulius (130) C. f. Caesar</text>
										</a>
									</g>
								</g>
								<g>
									<line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="-0.5" y1="64.5" x2="3.5" y2="64.5"/>
									<line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="6,10" x1="13.5" y1="64.5" x2="41.5" y2="64.5"/>
									<line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="46.5" y1="64.5" x2="49.5" y2="64.5"/>
								</g>
								<path fill="none" stroke="#DF6800" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M-0.5,25.5h50"/>
								<g>
									<line fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="-0.5" y1="44.5" x2="0.5" y2="44.5"/>
									<line fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1,5" x1="5.5" y1="44.5" x2="46.5" y2="44.5"/>
									<line fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="49.5" y1="44.5" x2="49.5" y2="44.5"/>
								</g>
								<text transform="matrix(1 0 0 1 67.4175 28.6235)" font-family="'Open Sans Condensed Light Italic'" font-size="12">Relation recorded in the source for both records</text>
								<text transform="matrix(1 0 0 1 67.4175 48.353)" font-family="'Open Sans Condensed Light Italic'" font-size="12">Relation recorded in the source of the person</text>
								<text transform="matrix(1 0 0 1 67.4175 68.083)" font-family="'Open Sans Condensed Light Italic'" font-size="12">Relation recorded in the source of the related person</text>
								<circle fill="#9980CC" stroke="#330099" cx="55" cy="44.664" r="5"/>
								<circle fill="#EFB380" stroke="#DF6800" cx="55" cy="24.664" r="5"/>
								<circle fill="#8ABF80" stroke="#157F00" cx="55" cy="64.664" r="5"/>
							</svg>
							<a href="#" class="enlarge" data-reveal-id="graphModal"><i class="fa fa-search-plus fa-2x"></i></a>
							<div id="graphModal" class="reveal-modal" data-reveal aria-labelledby="Julius Caesars' graph" aria-hidden="true" role="dialog">
								<a class="close-reveal-modal" aria-label="Close">&#215;</a>
								<div class="svg-container">
									<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 815 485">
										<g transform="translate(40,0)">
											<g>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M120,224.664
													L120,224.664"/>
												
													<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0.995,4.9748" d="
													M125.31,224.441c100.252-6.197,103.002-182.519,204.875-185.894"/>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M333,38.664L333,38.664
													"/>
											</g>
											<g>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M120,224.664
													L120,224.664"/>
												
													<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1.0072,5.0359" d="
													M125.369,224.498c100.182-4.019,102.964-117.105,204.773-119.302"/>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M333,105.664
													L333,105.664"/>
											</g>
											<path fill="none" stroke="#DF6800" stroke-width="2" d="M119.833,224.608c106.667,0,106.667-52.778,213.333-52.778"/>
											<path fill="none" stroke="#DF6800" stroke-width="2" d="M119.833,224.608c106.667,0,106.667,13.889,213.333,13.889"/>
											<path fill="none" stroke="#DF6800" stroke-width="2" d="M119.833,224.608c106.667,0,106.667,113.89,213.333,113.89"/>
											<g>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M120,224.664
													L120,224.664"/>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1.0073,5.0363" d="
													M125.363,224.82c100.189,7.75,102.968,226.051,204.786,230.281"/>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.668,455.162
													c0.166,0.001,0.332,0.002,0.499,0.002"/>
											</g>
											<g>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,39.5h1"/>
												<path fill="#330099" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1,5" d="
													M338.5,39.5h205"/>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M546,38.664
													C546.166,38.664,546,38.664,546,38.664"/>
											</g>
											<g>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,106.5h1"/>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1,5" d="
														M338.5,106.5h205"/>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M546,105.664
														C546.166,105.664,546,105.664,546,105.664"/>
											</g>
											<path fill="#DF6800" stroke="#DF6800" stroke-width="2" d="M332.5,172.5h213"/>
											<path fill="none" stroke="#DF6800" stroke-width="2" d="M332.5,239.5h213"/>
											<g>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,339.5h1"/>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1.0045,5.0225" d="
														M338.69,338.469c100.196-1.119,102.972-32.686,204.798-33.296"/>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M546,305.664
														C546.166,305.664,546,305.664,546,305.664"/>
											</g>
											<g>
												<path fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,339.5h3"/>
												<g>
													<line fill="#157F00" x1="342.5" y1="338.5" x2="540.5" y2="338.5"/>
													<g>
														<line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="342.5" y1="338.5" x2="345.5" y2="338.5"/>
														<line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="6,10" x1="355.5" y1="338.5" x2="532.5" y2="338.5"/>
														<line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="537.5" y1="338.5" x2="540.5" y2="338.5"/>
													</g>
												</g>
												<path fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M542.5,339.5h3"/>
											</g>
											<path fill="none" stroke="#DF6800" stroke-width="2" d="M333.167,338.498c106.666,0,106.666,33.332,213.333,33.332"/>
											<g>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,456.5h1"/>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0.9919,4.9593" d="
														M338.627,455.149c100.271-0.555,103.014-16.347,204.895-16.648"/>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M546,438.664 C546.166,438.664,546,438.664,546,438.664"/>
											</g>
											<g>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M332.5,456.5h1"/>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0.9919,4.9593" d="
														M338.627,455.179c100.271,0.555,103.014,16.347,204.895,16.648"/>
												<path fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M546,471.664 C546.166,471.664,546,471.664,546,471.664"/>
											</g>
											<g id="{{ person.id }}" transform="translate(213.33333333333337,219.44444444444443)">
												<circle fill="#EEEEEE" stroke="#999999" stroke-width="2" cx="-93.833" cy="5.22" r="9"/>
												<text transform="matrix(1 0 0 1 -191.5159 9.1639)" enable-background="new"><tspan x="0" y="0" font-family="'Open Sans Condensed Bold'" font-size="15">C. Iulius (131)</tspan><tspan x="-8" y="18" font-family="'Open Sans Condensed Bold'" font-size="15">C. f. C. n. Caesar</tspan></text>
											</g>
											<g transform="translate(426.66666666666674,33.333333333333336)">
												<circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.164" r="4.5"/>
												<text transform="matrix(1 0 0 1 -168.5031 -3.8362)" font-family="'Open Sans Condensed Light Italic'" font-size="14">adoptive father of</text>
											</g>
											<g transform="translate(640,33.333333333333336)">
												<a xlink:href="#" class="svg-link">
												<circle fill="#9980CC" stroke="#330099" cx="-93.5" cy="5.164" r="4.5"/>
												<text transform="matrix(1 0 0 1 -85.5 8.1638)" enable-background="new"><tspan x="0" y="0" font-family="'Open Sans Condensed Light'" font-size="16">C. Iulius (132) C. f. C. n. Caesar Octavianus</tspan><tspan x="0" y="19.2" font-family="'Open Sans Condensed Light'" font-size="16">= C. Octavius C. f. Thurinus (or Caepias)</tspan></text>
												</a>
											</g>
											<g transform="translate(426.66666666666674,100)">
												<circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.164" r="4.5"/>
												<text transform="matrix(1 0 0 1 -142.2116 -3.8359)" font-family="'Open Sans Condensed Light Italic'" font-size="14">betrothed to</text>
											</g>
											<g transform="translate(640,100)">
												<a xlink:href="#" class="svg-link">
													<circle fill="#9980CC" stroke="#330099" cx="-93.5" cy="5.164" r="4.5"/>
													<text transform="matrix(1 0 0 1 -85.5 8.1641)" font-family="'Open Sans Condensed Light'" font-size="16">-. Cossutia (7)</text>
												</a>
											</g>
											<g transform="translate(426.66666666666674,166.66666666666666)">
												<circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.164" r="4.5"/>
												<text transform="matrix(1 0 0 1 -150.1335 -3.8356)" font-family="'Open Sans Condensed Light Italic'" font-size="14">divorced from</text>
											</g>
											<g transform="translate(640,166.66666666666666)">
												<a xlink:href="#" class="svg-link">
													<circle fill="#EFB380" stroke="#DF6800" cx="-93.5" cy="5.164" r="4.5"/>
													<text transform="matrix(1 0 0 1 -85.5 8.1644)" font-family="'Open Sans Condensed Light'" font-size="16">-. Pompeia (52)</text>
												</a>
											</g>
											<g transform="translate(426.66666666666674,233.33333333333334)">
												<circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.164" r="4.5"/>
												<text transform="matrix(1 0 0 1 -123.8581 -3.8362)" font-family="'Open Sans Condensed Light Italic'" font-size="14">father of</text>
											</g>
											<g transform="translate(640,233.33333333333334)">
												<a xlink:href="#" class="svg-link">
													<circle fill="#EFB380" stroke="#DF6800" cx="-93.5" cy="5.164" r="4.5"/>
													<text transform="matrix(1 0 0 1 -85.5 8.1638)" font-family="'Open Sans Condensed Light'" font-size="16">-. Iulia (547)</text>
												</a>
											</g>
											<g transform="translate(426.66666666666674,333.3333333333333)">
												<circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.165" r="4.5"/>
												<text transform="matrix(1 0 0 1 -133.0163 -3.8363)" font-family="'Open Sans Condensed Light Italic'" font-size="14">married to</text>
											</g>
											<g transform="translate(640,300)">
												<a xlink:href="#" class="svg-link">
													<circle fill="#9980CC" stroke="#330099" cx="-93.5" cy="5.164" r="4.5"/>
													<text transform="matrix(1 0 0 1 -85.5 8.1641)" font-family="'Open Sans Condensed Light'" font-size="16">-. Calpurnia (126)</text>
												</a>
											</g>
											<g transform="translate(640,333.3333333333333)">
												<a xlink:href="#" class="svg-link">
													<circle fill="#8ABF80" stroke="#157F00" cx="-93.5" cy="5.165" r="4.5"/>
													<text transform="matrix(1 0 0 1 -85.5 8.1637)" font-family="'Open Sans Condensed Light'" font-size="16">-. Cornelia (126)</text>
												</a>
											</g>
											<g transform="translate(640,366.66666666666663)">
												<a xlink:href="#" class="svg-link">
													<circle fill="#EFB380" stroke="#DF6800" cx="-93.5" cy="5.163" r="4.5"/>
													<text transform="matrix(1 0 0 1 -85.5 8.1644)" font-family="'Open Sans Condensed Light'" font-size="16">-. Pompeia (143)</text>
												</a>
											</g>
											<g transform="translate(426.66666666666674,450)">
												<circle fill="#EEEEEE" stroke="#999999" cx="-93.5" cy="5.164" r="4.5"/>
												<text transform="matrix(1 0 0 1 -113.4655 -3.8359)" font-family="'Open Sans Condensed Light Italic'" font-size="14">son of</text>
											</g>
											<g transform="translate(640,433.33333333333337)">
												<a xlink:href="#" class="svg-link">
													<circle fill="#9980CC" stroke="#330099" cx="-93.5" cy="5.164" r="4.5"/>
													<text transform="matrix(1 0 0 1 -85.5 8.1637)" font-family="'Open Sans Condensed Light'" font-size="16">-. Aurelia (248)</text>
												</a>
											</g>
											<g transform="translate(640,466.6666666666667)">
												<a xlink:href="#" class="svg-link">
													<circle fill="#9980CC" stroke="#330099" cx="-93.5" cy="5.164" r="4.5"/>
													<text transform="matrix(1 0 0 1 -85.5 8.1644)" font-family="'Open Sans Condensed Light'" font-size="16">C. Iulius (130) C. f. Caesar</text>
												</a>
											</g>
										</g>
										<g>
											<line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="-0.5" y1="64.5" x2="3.5" y2="64.5"/>
											<line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="6,10" x1="13.5" y1="64.5" x2="41.5" y2="64.5"/>
											<line fill="none" stroke="#157F00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="46.5" y1="64.5" x2="49.5" y2="64.5"/>
										</g>
										<path fill="none" stroke="#DF6800" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M-0.5,25.5h50"/>
										<g>
											<line fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="-0.5" y1="44.5" x2="0.5" y2="44.5"/>
											<line fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1,5" x1="5.5" y1="44.5" x2="46.5" y2="44.5"/>
											<line fill="none" stroke="#330099" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="49.5" y1="44.5" x2="49.5" y2="44.5"/>
										</g>
										<text transform="matrix(1 0 0 1 67.4175 28.6235)" font-family="'Open Sans Condensed Light Italic'" font-size="12">Relation recorded in the source for both records</text>
										<text transform="matrix(1 0 0 1 67.4175 48.353)" font-family="'Open Sans Condensed Light Italic'" font-size="12">Relation recorded in the source of the person</text>
										<text transform="matrix(1 0 0 1 67.4175 68.083)" font-family="'Open Sans Condensed Light Italic'" font-size="12">Relation recorded in the source of the related person</text>
										<circle fill="#9980CC" stroke="#330099" cx="55" cy="44.664" r="5"/>
										<circle fill="#EFB380" stroke="#DF6800" cx="55" cy="24.664" r="5"/>
										<circle fill="#8ABF80" stroke="#157F00" cx="55" cy="64.664" r="5"/>
									</svg>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endwith %}
			</li>
			{% empty %}
			<li>No results found!</li>
			{% endfor %}
		</ol>

		{% display_pagination querydict page_obj %}
	</div>

</div>
{% endblock main %}
