{% extends "wagtailbase/rich_text_page.html" %}
{% load wagtailcore_tags wagtailbase_tags %}

{% block title %}{% endblock %}

{% block main %}

{% include "wagtailbase/includes/blog_post_body.html" with post=self %}

{% block attachments %}
{{ block.super }}
{% endblock %}

{% block related_links %}
{{ block.super }}
{% endblock %}

{% are_comments_allowed as allow_comments %}
{% if allow_comments %}
{% block comments %}
<div id="disqus_thread"></div>
{% endblock %}
{% endif %}

{% endblock %}

{% are_comments_allowed as allow_comments %}
{% if allow_comments %}
{% block footer_scripts %}
{% include "wagtailbase/includes/disqus_setup.html" %}
{% endblock %}
{% endif %}