{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="large-12 columns">
		<ul data-orbit>
			<li>
			<img src="/static/images/placeholder-slide.png" alt="slide 1" />
				<div class="orbit-caption">
					Caption One.
				</div>
			</li>
			<li class="active">
				<img src="/static/images/placeholder-slide.png" alt="slide 2" />
				<div class="orbit-caption">
					Caption Two.
				</div>
			</li>
			<li>
				<img src="/static/images/placeholder-slide.png" alt="slide 3" />
				<div class="orbit-caption">
					Caption Three.
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="row" data-equalizer>
    <div class="large-4 columns">
        <div class="panel radius" data-equalizer-watch>
            <h3>Browse the database</h3>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis.</p>
        </div>
        <a href="#" class="button radius expand">Browse now</a>
    </div>
    <div class="large-4 columns">
        <div class="panel radius" data-equalizer-watch>
            <h3>What's the data?</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        </div>
        <a href="#" class="button radius expand">Find out more</a>
    </div>
    <div class="large-4 columns">
        <div class="panel radius" data-equalizer-watch>
            <h3>Feedback</h3>
            <p>Suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
        <a href="#" class="button radius expand">Get in touch</a>
    </div>
</div>
{% endblock %}